.C_twooone_threefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 6px;
    background: rgba(24, 24, 24, 1);
    background-position: center;
    background-size: cover;
    row-gap: 15px;
}

#id_twooone_fivesixeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 157px;
    height: 157px;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 6px;
    column-gap: 10px;
}

#id_twooone_fivesixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 10px;
    align-items: flex-end;
    align-content: flex-end;
    width: 157px;
    height: 157px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: url(https://cdn.uncodie.com/tACQBrKCV97e0EqPE1XNLJ/156a04b60447fec45af1262f0b17ae9d3bff721d.png);
    background-position: center;
    background-size: cover;
    column-gap: 10px;
}

#id_twooone_threefoursix .C_twooone_fivesevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 48px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_twooone_threezerotwoo.C_twooone_fivesevenzero #id_sixnigth_eightsevenone, #id_twooone_fivesevenzero_sixnigth_eightsevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 3.509999990463257px;
    padding-left: 6px;
    padding-right: 3.109999895095825px;
    padding-top: 3.509999990463257px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twooone_threezerotwoo.C_twooone_fivesevenzero #id_twooone_twoonigthnigth, #id_twooone_fivesevenzero_twooone_twoonigthnigth {
    box-sizing: border-box;
    display: flex;
    width: 14px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_onenigth_twoosevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: 75px;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_twooone_threefoursix .C_oneseven_twoosixfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_oneseven_twoosixfour.C_oneseven_twoosixfive #id_oneseven_twoosixthree, #id_oneseven_twoosixfive_oneseven_twoosixthree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twooone_threefoursix .C_onenigth_twoosixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: 39px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_onenigth_twoosixnigth #id_one_nigthzerothree, #id_onenigth_twoosixnigth_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    white-space: break-spaces;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twooone_threefoursix .C_twooone_fivesevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 48px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_twooone_threezerotwoo.C_twooone_fivesevenzero #id_sixnigth_eightsevenone, #id_twooone_fivesevenzero_sixnigth_eightsevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 3.509999990463257px;
    padding-left: 6px;
    padding-right: 3.109999895095825px;
    padding-top: 3.509999990463257px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twooone_threezerotwoo.C_twooone_fivesevenzero #id_twooone_twoonigthnigth, #id_twooone_fivesevenzero_twooone_twoonigthnigth {
    box-sizing: border-box;
    display: flex;
    width: 14px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_twooone_threefoursix .C_oneseven_twoosixfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_oneseven_twoosixfour.C_oneseven_twoosixfive #id_oneseven_twoosixthree, #id_oneseven_twoosixfive_oneseven_twoosixthree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twooone_threefoursix .C_onenigth_twoosixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: 39px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_onenigth_twoosixnigth #id_one_nigthzerothree, #id_onenigth_twoosixnigth_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    white-space: break-spaces;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}
        
            










        