.C_fourthreeeight_sevenonethreeeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 280px;
    height: 320px;
    border-width: 1px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreeeight_sevenonefourzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: 31px;
    top: 235.67237854003906px;
    border-width: 1px;
    row-gap: 8px;
}

#id_fourthreeeight_sevenonefourone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(33, 31, 84, 1);
}

#id_fourthreeeight_sevenonefourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_sevenonefourthree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(110, 113, 145, 1);
}

#id_fourthreeeight_sevenonefourfour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(110, 113, 145, 1);
}

#id_fourthreeeight_sevenonefourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 280px;
    height: 210px;
    left: initial;
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
}
            
            






        