.C_fivesixnigth_twootwoonigthfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(100, 208, 109, 1);
}

#id_fivesixnigth_twootwoonigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigtheight {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(100, 208, 109, 1);
}

#id_fivesixnigth_twootwoonigthnigth {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}
            
            




        