#id_fourthreeeight_sixzerofoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 205px;
    height: 140px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_fourthreeeight_sixzerofourseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 165px;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 5px;
    column-gap: 15px;
}

#id_fourthreeeight_sixzerofourfour {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_sixzerofoureight .C_fourthreeeight_sixzerofourfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_fourthreeeight_sixzerofourfive #id_one_onesevennigtheight, #id_fourthreeeight_sixzerofourfive_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

.C_fourthreeeight_sixzerofournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 165px;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 5px;
    column-gap: 15px;
}

#id_fourthreeeight_sixzerofivezero {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_sixzerofoureight .C_fourthreeeight_sixzerofiveone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_fourthreeeight_sixzerofiveone #id_one_onesevennigtheight, #id_fourthreeeight_sixzerofiveone_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_sixzerofoureight .C_fourthreeeight_sixzerofourfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_fourthreeeight_sixzerofourfive #id_one_onesevennigtheight, #id_fourthreeeight_sixzerofourfive_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreeeight_sixzerofoureight .C_fourthreeeight_sixzerofiveone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_fourthreeeight_sixzerofiveone #id_one_onesevennigtheight, #id_fourthreeeight_sixzerofiveone_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
        
            
        