.C_onesixzero_fourtwoothreefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 197px;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 5px;
    column-gap: 15px;
}

#id_fourthreeeight_threenigthseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_threenigthsevenfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 21px;
    height: 21px;
    left: 1.1260000467300415px;
    top: 1.277999997138977px;
    border-width: 0px;
    fill: rgba(179, 179, 179, 1);
}

#id_onesixzero_fourtwoothreefive .C_onesixzero_fourtwoothreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_onesixzero_fourtwoothreeseven #id_one_onesevennigtheight, #id_onesixzero_fourtwoothreeseven_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_onesixzero_fourtwoothreefive .C_onesixzero_fourtwoothreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_onesixzero_fourtwoothreeseven #id_one_onesevennigtheight, #id_onesixzero_fourtwoothreeseven_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}
        
            




        