#id_fourthreeeight_fiveonethreeone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: auto;
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 14px;
    line-height: 16.70199966430664px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(30, 215, 96, 1);
}
            
            
            
        