#id_fourthreeeight_onefoursevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 56px;
    height: 92px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_fourthreeeight_onethreefourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    border-width: 1px;
}

#id_fourthreeeight_onethreefourzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

.C_fourthreeeight_onefoursevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    border-width: 1px;
}

#id_fourthreeeight_onefourseventwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            
        