.C_threeonefour_foureightzerozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 4px;
    background: rgba(175, 40, 150, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}
            
            



        