#id_twoofiveeight_onesixthreenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1528px;
    height: 422px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_twoofiveeight_onesixfourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_twoofiveeight_onesixfourone {
    box-sizing: border-box;
    display: flex;
    width: 72px;
    height: 30px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofiveeight_onesixfourtwoo {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

.C_twoofiveeight_onesixfourthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
    row-gap: 20px;
}

#id_twoofiveeight_onesixfourfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twoofiveeight_onesixfourfive {
    box-sizing: border-box;
    display: flex;
    width: 72px;
    height: 30px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofiveeight_onesixfoursix {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_onesevenonethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_onesevenonethree #id_one_nigthzeroone, #id_twoofiveeight_onesevenonethree_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_onesevenonefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_onesevenonefour #id_one_nigthzeroone, #id_twoofiveeight_onesevenonefour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesevenonefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    align-items: flex-start;
    align-content: flex-start;
    width: 23px;
    height: 1px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_twoofiveeight_oneseventwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreezero #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreezero_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreeone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreeone #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreeone_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreetwoo #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreetwoo_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreethree #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreethree_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreefour #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreefour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_onesevenonethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_onesevenonethree #id_one_nigthzeroone, #id_twoofiveeight_onesevenonethree_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_onesevenonefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_onesevenonefour #id_one_nigthzeroone, #id_twoofiveeight_onesevenonefour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreezero #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreezero_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreeone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreeone #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreeone_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreetwoo #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreetwoo_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreethree #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreethree_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofiveeight_onesixthreenigth .C_twoofiveeight_oneseventhreefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofiveeight_oneseventhreefour #id_one_nigthzeroone, #id_twoofiveeight_oneseventhreefour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
        
            
        