#id_fivefivenigth_onenigthnigthone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 120px;
    height: 40.000244140625px;
    border-width: 1px;
}

#id_fivefivenigth_onenigthnigthtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 40.000244140625px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_onenigthnigththree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 40.000244140625px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_onenigthnigthfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 40.000244140625px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_onenigthnigthfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 40px;
    left: initial;
    border-width: 0px;
    fill: rgba(166, 166, 166, 1);
}

#id_fivefivenigth_onenigthnigthsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 118px;
    height: 38px;
    left: 0.8754607439041138px;
    top: 0.875px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_fivefivenigth_onenigthnigthseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 99.795654296875px;
    height: 24.77099609375px;
    left: 9.999560356140137px;
    top: 8.720270156860352px;
    border-width: 1px;
}

#id_fivefivenigth_onenigthnigtheight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17.766357421875px;
    height: 21.77587890625px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_onenigthnigthnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17.766357421875px;
    height: 21.77587890625px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_twoozerozerozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 16px;
    left: initial;
    top: 5.252737045288086px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerozeroone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 5px;
    left: 8.843883514404297px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerozerotwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 75.271240234375px;
    height: 15.6201171875px;
    left: 24.524354934692383px;
    top: 9.15077018737793px;
    border-width: 1px;
}

#id_fivefivenigth_twoozerozerothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 11px;
    height: 12px;
    left: initial;
    top: 0.2070598602294922px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerozerofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 8px;
    height: 12px;
    left: 12.23833179473877px;
    top: 3.4749412536621094px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerozerofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 8px;
    height: 12px;
    left: 22.23114585876465px;
    top: 3.4749507904052734px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerozerosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 9px;
    height: 12px;
    left: 35.48015213012695px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerozeroseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 11px;
    left: 45.86374282836914px;
    top: 1.4287605285644531px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerozeroeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 8px;
    height: 9px;
    left: 51.78269577026367px;
    top: 3.460020065307617px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerozeronigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 9px;
    left: 61.93215560913086px;
    top: 3.475025177001953px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozeroonezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 8px;
    height: 9px;
    left: 66.9775390625px;
    top: 3.460010528564453px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerooneone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 68.428466796875px;
    height: 8.3984375px;
    left: 35.52720642089844px;
    top: 8.019530296325684px;
    border-width: 1px;
}

#id_fivefivenigth_twoozeroonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 68.428466796875px;
    height: 8.3984375px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_twoozeroonethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 6px;
    left: initial;
    top: 0.5634889602661133px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozeroonefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 4px;
    left: 6.189903736114502px;
    top: 2.0884313583374023px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozeroonefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 3px;
    height: 4px;
    left: 11.654695510864258px;
    top: 2.0839366912841797px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozeroonesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 3px;
    height: 4px;
    left: 16.648174285888672px;
    top: 2.0883798599243164px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerooneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 2px;
    height: 6px;
    left: 21.497678756713867px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerooneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 6px;
    left: 23.68642807006836px;
    top: 2.099644660949707px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozeroonenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 3px;
    height: 4px;
    left: 29.266328811645508px;
    top: 2.175290107727051px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerotwoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 4px;
    left: 34.30683898925781px;
    top: 2.08829402923584px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerotwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 0px;
    height: 6px;
    left: 39.66034698486328px;
    top: 0.41746997833251953px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerotwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 4px;
    left: 41.780250549316406px;
    top: 2.0884313583374023px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerotwoothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 4px;
    left: 49.451751708984375px;
    top: 2.08829402923584px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerotwoofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 3px;
    height: 4px;
    left: 54.76414489746094px;
    top: 2.0839366912841797px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerotwoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 4px;
    left: 62.18368148803711px;
    top: 2.08829402923584px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerotwoosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 0px;
    height: 6px;
    left: 67.53721618652344px;
    top: 0.41746997833251953px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}
            
            



































        