.C_twooone_threezerofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 52px;
    height: 52px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 100px;
    background: rgba(30, 215, 96, 1);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_sixnigth_nigtheightzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 3.5px;
    padding-left: 6px;
    padding-right: 3px;
    padding-top: 3.5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twooone_threezerofive {
    box-sizing: border-box;
    display: flex;
    width: 15px;
    height: 17px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}
            
            


        