.C_fourthreeeight_fourtwoooneeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    border-width: 1px;
}

#id_fourthreeeight_fourtwoozeroeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            

        