#id_onesixtwoo_fournigtheightthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 206px;
    height: 176px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_onesixtwoo_fournigtheighttwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 161px;
    height: 48px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixtwoo_fournigtheightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

.C_onesixtwoo_fournigtheightfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 168px;
    height: 50px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(245, 245, 245, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixtwoo_fournigtheightfive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            
        