.C_fourthreeeight_oneseveneightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    align-items: center;
    align-content: center;
    width: 171px;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 2px;
    background: rgba(62, 62, 62, 1);
    background-position: center;
    background-size: cover;
    column-gap: 6px;
}

#id_fourthreeeight_oneseveneighteight {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_oneeightoneeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_oneseveneightnigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
            
            



        