.C_fourthreeeight_threeeightfivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 8px;
    align-items: center;
    align-content: center;
    width: 280px;
    height: 2018px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 8px;
    row-gap: 8px;
}

#id_fourthreeeight_twooeighteightthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 8px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreeeight_twooeighteightfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 5px;
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_fouronesixfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 15px;
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_fourthreeeight_fouronetwoothree, #id_fourthreeeight_fouronesixfour_fourthreeeight_fouronetwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_fourthreeeight_fouronetwoofour, #id_fourthreeeight_fouronesixfour_fourthreeeight_fouronetwoofour {
    box-sizing: border-box;
    display: flex;
    width: 20px;
    height: 20px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_three_oneeightfournigth.C_onesixzero_fourtwoooneeight, #id_fourthreeeight_fouronesixfour_onesixzero_fourtwoooneeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_three_oneeightfournigth.C_onesixzero_fourtwoooneeight #id_one_onesevennigtheight, #id_fourthreeeight_fouronesixfour_onesixzero_fourtwoooneeight_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_fouronesixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 15px;
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_fourthreeeight_threenigthseventhree, #id_fourthreeeight_fouronesixnigth_fourthreeeight_threenigthseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_fourthreeeight_threenigthsevenfour, #id_fourthreeeight_fouronesixnigth_fourthreeeight_threenigthsevenfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 21px;
    height: 21px;
    left: 1.1260000467300415px;
    top: 1.277999997138977px;
    border-width: 0px;
    fill: rgba(179, 179, 179, 1);
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_three_oneeightfournigth.C_onesixzero_fourtwoothreeseven, #id_fourthreeeight_fouronesixnigth_onesixzero_fourtwoothreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_three_oneeightfournigth.C_onesixzero_fourtwoothreeseven #id_one_onesevennigtheight, #id_fourthreeeight_fouronesixnigth_onesixzero_fourtwoothreeseven_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_twooeighteightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-grow: 1;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 8px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreeeight_twooeighteighteight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 16px;
}

#id_fourthreeeight_twooeighteightnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 165px;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 15px;
}

#id_onesixzero_fourtwoofourfour.C_fourthreeeight_twooeightnigthzero #id_onesixzero_fourtwoofourfive, #id_fourthreeeight_twooeightnigthzero_onesixzero_fourtwoofourfive {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_onesixzero_fourtwoofourfour.C_fourthreeeight_twooeightnigthzero #id_three_oneeightfournigth.C_onesixzero_fourtwoofoursix, #id_fourthreeeight_twooeightnigthzero_onesixzero_fourtwoofoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_onesixzero_fourtwoofourfour.C_fourthreeeight_twooeightnigthzero #id_three_oneeightfournigth.C_onesixzero_fourtwoofoursix #id_one_onesevennigtheight, #id_fourthreeeight_twooeightnigthzero_onesixzero_fourtwoofoursix_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    left: initial;
    top: initial;
}

#id_onesixnigth_nigtheightzero.C_fourthreeeight_twooeightnigthone #id_onesixnigth_nigthseveneight, #id_fourthreeeight_twooeightnigthone_onesixnigth_nigthseveneight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_twooeightnigthtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    align-items: flex-start;
    align-content: flex-start;
    width: 256px;
    height: 140px;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 8px;
    background: rgba(36, 36, 36, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreeeight_twooeightnigththree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fourthreeeight_twooeightnigthfour #id_one_nigthzeroone, #id_fourthreeeight_twooeightnigthfour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_fourthreeeight_twooeightnigthfive #id_one_onesevennigtheight, #id_fourthreeeight_twooeightnigthfive_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_twooeightnigthsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigthfivefour.C_fourthreeeight_twooeightnigthseven #id_onesixtwoo_fournigthfivethree, #id_fourthreeeight_twooeightnigthseven_onesixtwoo_fournigthfivethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreeeight_twooeightnigtheight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    align-items: flex-start;
    align-content: flex-start;
    width: 256px;
    height: 193px;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 8px;
    background: rgba(36, 36, 36, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreeeight_twooeightnigthnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzerozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fourthreeeight_twoonigthzerozero #id_one_nigthzeroone, #id_fourthreeeight_twoonigthzerozero_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzeroone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    flex-grow: 1;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_fourthreeeight_twoonigthzeroone #id_one_onesevennigtheight, #id_fourthreeeight_twoonigthzeroone_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_twoonigthzerotwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigthfivefour.C_fourthreeeight_twoonigthzerothree #id_onesixtwoo_fournigthfivethree, #id_fourthreeeight_twoonigthzerothree_onesixtwoo_fournigthfivethree {
    box-sizing: border-box;
    display: flex;
    align-self: stretch;
    width: auto;
    align-self: stretch;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreeeight_twoonigthzerofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 24px;
    padding-left: 16px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_fourthreeeight_twoonigthzerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 256px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 13px;
}

#id_fourthreeeight_twoonigthzerosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzeroseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthzeroseven #id_one_eightnigthsix, #id_fourthreeeight_twoonigthzeroseven_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzeroeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthzeroeight #id_one_eightnigthsix, #id_fourthreeeight_twoonigthzeroeight_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_twoonigthzeronigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 166px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 14px;
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthonezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthonezero #id_one_eightnigthsix, #id_fourthreeeight_twoonigthonezero_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 12.649999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 16px;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthoneone #id_one_eightnigthsix, #id_fourthreeeight_twoonigthoneone_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthonetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthonetwoo #id_one_eightnigthsix, #id_fourthreeeight_twoonigthonetwoo_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthonethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthonethree #id_one_eightnigthsix, #id_fourthreeeight_twoonigthonethree_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthonefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: 202px;
    height: 31px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_one_eightfivenigth.C_fourthreeeight_twoonigthonefour #id_one_eightsixzero, #id_fourthreeeight_twoonigthonefour_one_eightsixzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_one_eightfivenigth.C_fourthreeeight_twoonigthonefour #id_one_eightsixone, #id_fourthreeeight_twoonigthonefour_one_eightsixone {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 15px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_one_eightfivenigth.C_fourthreeeight_twoonigthonefour #id_one_eightsixtwoo, #id_fourthreeeight_twoonigthonefour_one_eightsixtwoo {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(247, 251, 249, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_fouronesixfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 15px;
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_fourthreeeight_fouronetwoothree, #id_fourthreeeight_fouronesixfour_fourthreeeight_fouronetwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_fourthreeeight_fouronetwoofour, #id_fourthreeeight_fouronesixfour_fourthreeeight_fouronetwoofour {
    box-sizing: border-box;
    display: flex;
    width: 20px;
    height: 20px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_three_oneeightfournigth.C_onesixzero_fourtwoooneeight, #id_fourthreeeight_fouronesixfour_onesixzero_fourtwoooneeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_three_oneeightfournigth.C_onesixzero_fourtwoooneeight #id_one_onesevennigtheight, #id_fourthreeeight_fouronesixfour_onesixzero_fourtwoooneeight_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_fouronesixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 15px;
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_fourthreeeight_threenigthseventhree, #id_fourthreeeight_fouronesixnigth_fourthreeeight_threenigthseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_fourthreeeight_threenigthsevenfour, #id_fourthreeeight_fouronesixnigth_fourthreeeight_threenigthsevenfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 21px;
    height: 21px;
    left: 1.1260000467300415px;
    top: 1.277999997138977px;
    border-width: 0px;
    fill: rgba(179, 179, 179, 1);
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_three_oneeightfournigth.C_onesixzero_fourtwoothreeseven, #id_fourthreeeight_fouronesixnigth_onesixzero_fourtwoothreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_three_oneeightfournigth.C_onesixzero_fourtwoothreeseven #id_one_onesevennigtheight, #id_fourthreeeight_fouronesixnigth_onesixzero_fourtwoothreeseven_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_three_oneeightfournigth.C_onesixzero_fourtwoooneeight, #id_fourthreeeight_fouronesixfour_onesixzero_fourtwoooneeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_onefivesix_fourzeronigthnigth.C_fourthreeeight_fouronesixfour #id_three_oneeightfournigth.C_onesixzero_fourtwoooneeight #id_one_onesevennigtheight, #id_fourthreeeight_fouronesixfour_onesixzero_fourtwoooneeight_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_three_oneeightfournigth.C_onesixzero_fourtwoothreeseven, #id_fourthreeeight_fouronesixnigth_onesixzero_fourtwoothreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_onesixzero_fourtwoothreefive.C_fourthreeeight_fouronesixnigth #id_three_oneeightfournigth.C_onesixzero_fourtwoothreeseven #id_one_onesevennigtheight, #id_fourthreeeight_fouronesixnigth_onesixzero_fourtwoothreeseven_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 165px;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 15px;
}

#id_onesixzero_fourtwoofourfour.C_fourthreeeight_twooeightnigthzero #id_onesixzero_fourtwoofourfive, #id_fourthreeeight_twooeightnigthzero_onesixzero_fourtwoofourfive {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_onesixzero_fourtwoofourfour.C_fourthreeeight_twooeightnigthzero #id_three_oneeightfournigth.C_onesixzero_fourtwoofoursix, #id_fourthreeeight_twooeightnigthzero_onesixzero_fourtwoofoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_onesixzero_fourtwoofourfour.C_fourthreeeight_twooeightnigthzero #id_three_oneeightfournigth.C_onesixzero_fourtwoofoursix #id_one_onesevennigtheight, #id_fourthreeeight_twooeightnigthzero_onesixzero_fourtwoofoursix_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    left: initial;
    top: initial;
}

#id_onesixnigth_nigtheightzero.C_fourthreeeight_twooeightnigthone #id_onesixnigth_nigthseveneight, #id_fourthreeeight_twooeightnigthone_onesixnigth_nigthseveneight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_onesixzero_fourtwoofourfour.C_fourthreeeight_twooeightnigthzero #id_three_oneeightfournigth.C_onesixzero_fourtwoofoursix, #id_fourthreeeight_twooeightnigthzero_onesixzero_fourtwoofoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_onesixzero_fourtwoofourfour.C_fourthreeeight_twooeightnigthzero #id_three_oneeightfournigth.C_onesixzero_fourtwoofoursix #id_one_onesevennigtheight, #id_fourthreeeight_twooeightnigthzero_onesixzero_fourtwoofoursix_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fourthreeeight_twooeightnigthfour #id_one_nigthzeroone, #id_fourthreeeight_twooeightnigthfour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_fourthreeeight_twooeightnigthfive #id_one_onesevennigtheight, #id_fourthreeeight_twooeightnigthfive_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twooeightnigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigthfivefour.C_fourthreeeight_twooeightnigthseven #id_onesixtwoo_fournigthfivethree, #id_fourthreeeight_twooeightnigthseven_onesixtwoo_fournigthfivethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzerozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fourthreeeight_twoonigthzerozero #id_one_nigthzeroone, #id_fourthreeeight_twoonigthzerozero_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzeroone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    flex-grow: 1;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_fourthreeeight_twoonigthzeroone #id_one_onesevennigtheight, #id_fourthreeeight_twoonigthzeroone_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigthfivefour.C_fourthreeeight_twoonigthzerothree #id_onesixtwoo_fournigthfivethree, #id_fourthreeeight_twoonigthzerothree_onesixtwoo_fournigthfivethree {
    box-sizing: border-box;
    display: flex;
    align-self: stretch;
    width: auto;
    align-self: stretch;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthonefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: 202px;
    height: 31px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_one_eightfivenigth.C_fourthreeeight_twoonigthonefour #id_one_eightsixzero, #id_fourthreeeight_twoonigthonefour_one_eightsixzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_one_eightfivenigth.C_fourthreeeight_twoonigthonefour #id_one_eightsixone, #id_fourthreeeight_twoonigthonefour_one_eightsixone {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 15px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_one_eightfivenigth.C_fourthreeeight_twoonigthonefour #id_one_eightsixtwoo, #id_fourthreeeight_twoonigthonefour_one_eightsixtwoo {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(247, 251, 249, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthonetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthonetwoo #id_one_eightnigthsix, #id_fourthreeeight_twoonigthonetwoo_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthonethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthonethree #id_one_eightnigthsix, #id_fourthreeeight_twoonigthonethree_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzeroseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthzeroseven #id_one_eightnigthsix, #id_fourthreeeight_twoonigthzeroseven_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthzeroeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthzeroeight #id_one_eightnigthsix, #id_fourthreeeight_twoonigthzeroeight_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthonezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: 18px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthonezero #id_one_eightnigthsix, #id_fourthreeeight_twoonigthonezero_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 12.649999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_threeeightfivethree .C_fourthreeeight_twoonigthoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 16px;
}

#id_three_oneeightfivethree.C_fourthreeeight_twoonigthoneone #id_one_eightnigthsix, #id_fourthreeeight_twoonigthoneone_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}
        
            



























































        