#id_fivefourone_fivesevenzerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 1160px;
    height: auto;
    border-width: 1px;
    border-radius: 8px;
}

#id_fivefourone_fivesevenzerofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 8px;
}

#id_fivefourone_fivesevenzeroseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 70px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(25, 230, 140, 1);
    background-position: center;
    background-size: cover;
    row-gap: 40px;
}

#id_fivefivenigth_oneeighttwoosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 40px;
}

#id_fivesixnigth_twoozerosevennigth {
    box-sizing: border-box;
    display: flex;
    width: 136px;
    height: 80px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fivefivenigth_oneeighttwoofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 26px;
}

#id_fivefourone_fivesevenzerothree .C_sixtwoosix_onesevenzerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesixsixsix.C_sixtwoosix_onesevenzerothree #id_sixtwoosix_onesixsixfive, #id_sixtwoosix_onesevenzerothree_sixtwoosix_onesixsixfive {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 45px;
    line-height: 56.92499923706055px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivefivenigth_onenigthtwoofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fivefivenigth_onenigthtwoofour #id_one_nigthzeroone, #id_fivefivenigth_onenigthtwoofour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivefivenigth_oneeighttwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 161px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigtheighttwoo.C_fivefivenigth_oneeighttwoothree #id_onesixtwoo_fournigtheightone, #id_fivefivenigth_oneeighttwoothree_onesixtwoo_fournigtheightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefourone_fiveseventwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 110px;
    padding-top: 70px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
    row-gap: 75px;
}

#id_fivefivenigth_twoozerofivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 26px;
}

#id_fivefivenigth_onenigthtwoosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_fivefourone_fivesevenzerothree .C_sixtwoosix_oneseventhreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_oneseventhreefour.C_sixtwoosix_oneseventhreeseven #id_sixtwoosix_oneseventhreethree, #id_sixtwoosix_oneseventhreeseven_sixtwoosix_oneseventhreethree {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 30px;
    line-height: 37.95000076293945px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivefivenigth_onenigthtwooeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fivefivenigth_onenigthtwooeight #id_one_nigthzeroone, #id_fivefivenigth_onenigthtwooeight_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefivenigth_twoozerofoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 14px;
}

#id_fivefivenigth_twoozerofourseven {
    box-sizing: border-box;
    display: flex;
    width: 120px;
    height: 40px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fivefivenigth_twoozerofoureight {
    box-sizing: border-box;
    display: flex;
    width: 133px;
    height: 40px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fivefivenigth_twoozerofournigth {
    box-sizing: border-box;
    display: flex;
    width: 111px;
    height: 40px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fivefourone_fiveseventwooseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 123px;
    padding-top: 70px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(36, 36, 36, 1);
    background-position: center;
    background-size: cover;
    row-gap: 50px;
}

#id_fiveeightsix_oneeightthreezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 86px;
}

#id_fivefivenigth_twoozerofiveone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 26px;
}

#id_fivefivenigth_twoozerofivetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_fivesixnigth_twoozeroeightzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 480px;
    height: 173px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fivesixnigth_twoozeroeightone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 476.01318359375px;
    height: 170.2818603515625px;
    left: 1.5894039869308472px;
    top: 1.755156397819519px;
    border-width: 1px;
}

#id_fivesixnigth_twoozeroeighttwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 73.810546875px;
    height: 73.814208984375px;
    left: 214.65696716308594px;
    top: 96.46768951416016px;
    border-width: 1px;
}

#id_fivesixnigth_twoozeroeightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 73.810546875px;
    height: 73.814208984375px;
    left: initial;
    border-width: 1px;
}

#id_fivesixnigth_twoozeroeightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 73px;
    height: 73px;
    left: 73.81050109863281px;
    top: -8.454016438008694e-7px;
    border-width: 0px;
}

#id_fivesixnigth_twoozeroeightfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 66px;
    height: 46px;
    left: 3.7609312534332275px;
    top: 13.876243591308594px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeroeightsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 214px;
    height: 52px;
    left: 71.04682922363281px;
    top: -5.468316022216868e-9px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeroeightseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 75px;
    height: 0px;
    left: 142.43206787109375px;
    top: 134.16732788085938px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeroeighteight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 66.76513671875px;
    height: 97.4136962890625px;
    left: 274.2147216796875px;
    top: 57.57769775390625px;
    border-width: 1px;
}

#id_fivesixnigth_twoozeroeightnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 66px;
    height: 97px;
    left: initial;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeronigthzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 38px;
    height: 38px;
    left: 15.10168170928955px;
    top: 46.75979232788086px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeronigthone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 4px;
    left: 32.58783721923828px;
    top: 22.191089630126953px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeronigthtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 147px;
    height: 0px;
    left: -1.3420913269612811e-8px;
    top: 151.49354553222656px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeronigththree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 41px;
    height: 0px;
    left: 163.7659149169922px;
    top: 151.49354553222656px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeronigthfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 129.556640625px;
    height: 85.59423828125px;
    left: 8.743077278137207px;
    top: 55.30971908569336px;
    border-width: 1px;
}

#id_fivesixnigth_twoozeronigthfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 129.556640625px;
    height: 85.59423828125px;
    left: initial;
    border-width: 1px;
}

#id_fivesixnigth_twoozeronigthsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 129px;
    height: 85px;
    left: initial;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeronigthseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 129px;
    height: 85px;
    left: initial;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoozeronigtheight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 36.56201171875px;
    height: 53.10009765625px;
    left: 346.5438232421875px;
    top: 102.75241088867188px;
    border-width: 1px;
}

#id_fivesixnigth_twoozeronigthnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 36.56201171875px;
    height: 53.10009765625px;
    left: initial;
    border-width: 1px;
}

#id_fivesixnigth_twooonezerozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 36.56201171875px;
    height: 53.10009765625px;
    left: initial;
    border-width: 1px;
}

#id_fivesixnigth_twooonezeroone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 36px;
    height: 53px;
    left: initial;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twooonezerotwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 36px;
    height: 53px;
    left: initial;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twooonezerothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 3px;
    height: 3px;
    left: 16.691341400146484px;
    top: 42.00455856323242px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twooonezerofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 88.06103515625px;
    height: 75.059326171875px;
    left: 387.95257568359375px;
    top: 80.12538146972656px;
    border-width: 1px;
}

#id_fivesixnigth_twooonezerofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 6px;
    height: 6px;
    left: 69.73163604736328px;
    top: 36.59951400756836px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twooonezerosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 6px;
    height: 6px;
    left: 12.357685089111328px;
    top: 36.59951400756836px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twooonezeroseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 44px;
    height: 75px;
    left: initial;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twooonezeroeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 44px;
    height: 75px;
    left: 88.02716064453125px;
    top: 0.0000026193233679805417px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twooonezeronigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 87px;
    height: 0px;
    left: 0.2604617774486542px;
    top: 61.679752349853516px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoooneonezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 71px;
    height: 0px;
    left: 8.173319816589355px;
    top: 24.690670013427734px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_sixtwoosix_onesevenfourone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_oneseventhreefour.C_sixtwoosix_onesevenfourone #id_sixtwoosix_oneseventhreethree, #id_sixtwoosix_onesevenfourone_sixtwoosix_oneseventhreethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 30px;
    line-height: 37.95000076293945px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivefivenigth_twoozerofivefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fivefivenigth_twoozerofivefive #id_one_nigthzeroone, #id_fivefivenigth_twoozerofivefive_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivesixnigth_twoooneeightone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 10px;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twooonenigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_fivesixnigth_twoooneonenigth.C_fivesixnigth_twooonenigthseven #id_fivesixnigth_twoooneoneeight, #id_fivesixnigth_twooonenigthseven_fivesixnigth_twoooneoneeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoothreefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoothreefour #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoothreefour_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoozeroone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_fivesixnigth_twoooneonenigth.C_fivesixnigth_twootwoozeroone #id_fivesixnigth_twoooneoneeight, #id_fivesixnigth_twootwoozeroone_fivesixnigth_twoooneoneeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoothreesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoothreesix #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoothreesix_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoozerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_fivesixnigth_twoooneonenigth.C_fivesixnigth_twootwoozerofive #id_fivesixnigth_twoooneoneeight, #id_fivesixnigth_twootwoozerofive_fivesixnigth_twoooneoneeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoothreeeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoothreeeight #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoothreeeight_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreezerotwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezerotwoo #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreezerotwoo_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezerotwoo #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreezerotwoo_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezerotwoo #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreezerotwoo_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezerotwoo #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreezerotwoo_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofourzero #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofourzero_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreezeronigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezeronigth #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreezeronigth_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezeronigth #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreezeronigth_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezeronigth #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreezeronigth_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezeronigth #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreezeronigth_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofourtwoo #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofourtwoo_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreeonefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonefour #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreeonefour_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonefour #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreeonefour_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonefour #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreeonefour_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonefour #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreeonefour_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofourfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofourfour #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofourfour_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreeonenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonenigth #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreeonenigth_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonenigth #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreeonenigth_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonenigth #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreeonenigth_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonenigth #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreeonenigth_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofoursix #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofoursix_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreetwoofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoofour #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreetwoofour_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoofour #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreetwoofour_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoofour #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreetwoofour_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoofour #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreetwoofour_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofoureight #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofoureight_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreetwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoonigth #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreetwoonigth_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoonigth #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreetwoonigth_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoonigth #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreetwoonigth_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoonigth #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreetwoonigth_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivefivenigth_oneeighttwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 161px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigtheighttwoo.C_fivefivenigth_oneeighttwoothree #id_onesixtwoo_fournigtheightone, #id_fivefivenigth_oneeighttwoothree_onesixtwoo_fournigtheightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefourone_fivesevenzerothree .C_sixtwoosix_onesevenzerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesixsixsix.C_sixtwoosix_onesevenzerothree #id_sixtwoosix_onesixsixfive, #id_sixtwoosix_onesevenzerothree_sixtwoosix_onesixsixfive {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 45px;
    line-height: 56.92499923706055px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivefivenigth_onenigthtwoofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fivefivenigth_onenigthtwoofour #id_one_nigthzeroone, #id_fivefivenigth_onenigthtwoofour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefourone_fivesevenzerothree .C_sixtwoosix_oneseventhreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_oneseventhreefour.C_sixtwoosix_oneseventhreeseven #id_sixtwoosix_oneseventhreethree, #id_sixtwoosix_oneseventhreeseven_sixtwoosix_oneseventhreethree {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 30px;
    line-height: 37.95000076293945px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivefivenigth_onenigthtwooeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fivefivenigth_onenigthtwooeight #id_one_nigthzeroone, #id_fivefivenigth_onenigthtwooeight_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fivefourone_fivesevenzerothree .C_sixtwoosix_onesevenfourone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_oneseventhreefour.C_sixtwoosix_onesevenfourone #id_sixtwoosix_oneseventhreethree, #id_sixtwoosix_onesevenfourone_sixtwoosix_oneseventhreethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 30px;
    line-height: 37.95000076293945px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivefivenigth_twoozerofivefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_fivefivenigth_twoozerofivefive #id_one_nigthzeroone, #id_fivefivenigth_twoozerofivefive_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twooonenigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_fivesixnigth_twoooneonenigth.C_fivesixnigth_twooonenigthseven #id_fivesixnigth_twoooneoneeight, #id_fivesixnigth_twooonenigthseven_fivesixnigth_twoooneoneeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoothreefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoothreefour #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoothreefour_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoozeroone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_fivesixnigth_twoooneonenigth.C_fivesixnigth_twootwoozeroone #id_fivesixnigth_twoooneoneeight, #id_fivesixnigth_twootwoozeroone_fivesixnigth_twoooneoneeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoothreesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoothreesix #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoothreesix_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoozerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_fivesixnigth_twoooneonenigth.C_fivesixnigth_twootwoozerofive #id_fivesixnigth_twoooneoneeight, #id_fivesixnigth_twootwoozerofive_fivesixnigth_twoooneoneeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoothreeeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoothreeeight #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoothreeeight_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreezerotwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezerotwoo #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreezerotwoo_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezerotwoo #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreezerotwoo_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezerotwoo #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreezerotwoo_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezerotwoo #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreezerotwoo_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofourzero #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofourzero_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreezeronigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezeronigth #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreezeronigth_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezeronigth #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreezeronigth_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezeronigth #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreezeronigth_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreezeronigth #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreezeronigth_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofourtwoo #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofourtwoo_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreeonefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonefour #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreeonefour_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonefour #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreeonefour_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonefour #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreeonefour_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonefour #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreeonefour_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofourfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofourfour #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofourfour_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreeonenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonenigth #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreeonenigth_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonenigth #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreeonenigth_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonenigth #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreeonenigth_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreeonenigth #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreeonenigth_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofoursix #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofoursix_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreetwoofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoofour #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreetwoofour_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoofour #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreetwoofour_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoofour #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreetwoofour_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoofour #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreetwoofour_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twootwoofoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fivesixnigth_twootwoothreethree.C_fivesixnigth_twootwoofoureight #id_fivesixnigth_twooonenigtheight, #id_fivesixnigth_twootwoofoureight_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}

#id_fivefourone_fivesevenzerothree .C_fivesixnigth_twoothreetwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoonigth #id_fivesixnigth_twootwoonigthtwoo, #id_fivesixnigth_twoothreetwoonigth_fivesixnigth_twootwoonigthtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoonigth #id_fivesixnigth_twootwooeightseven, #id_fivesixnigth_twoothreetwoonigth_fivesixnigth_twootwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    display: none;
    row-gap: 1px;
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoonigth #id_fivesixnigth_twootwoosevensix, #id_fivesixnigth_twoothreetwoonigth_fivesixnigth_twootwoosevensix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(29, 185, 84, 1);
}

#id_fivesixnigth_twootwoonigththree.C_fivesixnigth_twoothreetwoonigth #id_fivesixnigth_twootwooeightsix, #id_fivesixnigth_twoothreetwoonigth_fivesixnigth_twootwooeightsix {
    box-sizing: border-box;
    display: flex;
    width: 11px;
    height: 11px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
}
        
            


















































































































        