#id_sixtwoozero_onesevenonenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    border-width: 1px;
    row-gap: 200px;
}

#id_sixtwoozero_oneseventwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 97px;
}

#id_sixtwoozero_oneeightthreeone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 38px;
    line-height: 50px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(33, 31, 84, 1);
}

#id_sixtwoozero_oneeightthreezero {
    box-sizing: border-box;
    display: flex;
    width: 1220px;
    height: 0px;
    left: initial;
    top: initial;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(220, 221, 235, 1);
    object-fit: unset;
    object-position: initial;
}

#id_sixtwoosix_onesixfourthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 97px;
}

#id_sixtwoosix_onesixfourfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_sixtwoosix_onesixfourfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 10px;
}

#id_sixtwoosix_onesixfoursix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 38px;
    line-height: 48.06999969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(33, 31, 84, 1);
}

#id_sixtwoosix_onesixfourseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_sixtwoosix_onesixfoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoosix_onesixfournigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(110, 113, 145, 1);
}

#id_sixtwoosix_onesixfiveone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoosix_onesixfivetwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(74, 58, 255, 1);
}

.C_sixtwoosix_onesixfivenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_sixtwoosix_onesixfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 72px;
    line-height: 91.08000183105469px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwootwoo_onesixtwooeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 97px;
}

#id_sixtwoozero_oneseventwoofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_sixtwootwoo_onesixtwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 10px;
}

#id_sixtwoozero_oneseventwoofive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 38px;
    line-height: 48.06999969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(33, 31, 84, 1);
}

#id_sixtwoozero_oneseventwoosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_sixtwoozero_oneseventwooseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoozero_oneseventwooeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(110, 113, 145, 1);
}

#id_sixtwoozero_oneseventhreezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoozero_oneseventhreeone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(74, 58, 255, 1);
}

.C_sixtwoosix_onesixsixsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_sixtwoosix_onesixsixfive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 45px;
    line-height: 56.92499923706055px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoosix_onesixseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 97px;
}

#id_sixtwoosix_onesixsevenfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_sixtwoosix_onesixsevenfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 10px;
}

#id_sixtwoosix_onesixsevensix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 38px;
    line-height: 48.06999969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(33, 31, 84, 1);
}

#id_sixtwoosix_onesixsevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_sixtwoosix_onesixseveneight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoosix_onesixsevennigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(110, 113, 145, 1);
}

#id_sixtwoosix_onesixeightone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoosix_onesixeighttwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(74, 58, 255, 1);
}

.C_sixtwoosix_onesevenoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_sixtwoosix_onesevenonezero {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 40px;
    line-height: 50.599998474121094px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoosix_oneseventwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 97px;
}

#id_sixtwoosix_oneseventwooone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_sixtwoosix_oneseventwootwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 10px;
}

#id_sixtwoosix_oneseventwoothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 38px;
    line-height: 48.06999969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(33, 31, 84, 1);
}

#id_sixtwoosix_oneseventwoofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_sixtwoosix_oneseventwoofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoosix_oneseventwoosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(110, 113, 145, 1);
}

#id_sixtwoosix_oneseventwooeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoosix_oneseventwoonigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(74, 58, 255, 1);
}

.C_sixtwoosix_oneseventhreefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_sixtwoosix_oneseventhreethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 30px;
    line-height: 37.95000076293945px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoosix_onesevenfourfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 97px;
}

#id_sixtwoosix_onesevenfoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_sixtwoosix_onesevenfourseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 10px;
}

#id_sixtwoosix_onesevenfoureight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 38px;
    line-height: 48.06999969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(33, 31, 84, 1);
}

#id_sixtwoosix_onesevenfournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_sixtwoosix_onesevenfivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoosix_onesevenfiveone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(110, 113, 145, 1);
}

#id_sixtwoosix_onesevenfivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixtwoosix_onesevenfivefour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(74, 58, 255, 1);
}

.C_sixtwoosix_onesevenfivenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_sixtwoosix_onesevenfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixthreetwoo_onesixfoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 97px;
}

#id_sixthreetwoo_onesixfourseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_sixthreetwoo_onesixfoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 10px;
}

#id_sixthreetwoo_onesixfournigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 38px;
    line-height: 48.06999969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(33, 31, 84, 1);
}

#id_sixthreetwoo_onesixfivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_sixthreetwoo_onesixfiveone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixthreetwoo_onesixfivetwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(110, 113, 145, 1);
}

#id_sixthreetwoo_onesixfivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_sixthreetwoo_onesixfivefour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(74, 58, 255, 1);
}

#id_sixtwoozero_onesevenonenigth .C_sixthreetwoo_onesixfivefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesevenfivenigth.C_sixthreetwoo_onesixfivefive #id_sixtwoosix_onesevenfiveeight, #id_sixthreetwoo_onesixfivefive_sixtwoosix_onesevenfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesevenonenigth .C_sixthreetwoo_onesixfivefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesevenfivenigth.C_sixthreetwoo_onesixfivefive #id_sixtwoosix_onesevenfiveeight, #id_sixthreetwoo_onesixfivefive_sixtwoosix_onesevenfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
        
            



























































        