.C_onefivesix_fouroneoneseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 197px;
    height: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 5px;
    column-gap: 15px;
}

#id_fourthreeeight_fouronefivetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_fouronefivethree {
    box-sizing: border-box;
    display: flex;
    width: 20px;
    height: 20px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_onefivesix_fouroneoneseven .C_onesixzero_fourtwoothreetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_onesixzero_fourtwoothreetwoo #id_one_onesevennigtheight, #id_onesixzero_fourtwoothreetwoo_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onefivesix_fouroneoneseven .C_onesixzero_fourtwoothreetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_three_oneeightfournigth.C_onesixzero_fourtwoothreetwoo #id_one_onesevennigtheight, #id_onesixzero_fourtwoothreetwoo_one_onesevennigtheight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
        
            




        