#id_fivefivenigth_twoozerosixone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 480px;
    height: 173px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            
            
        