#id_threeonefour_onefiveeighttwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 277px;
    height: 156px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_threeonefour_onefiveeightone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 237px;
    height: 48px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(25, 20, 20, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_onefiveeightzero {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

.C_threeonefour_onefiveeightthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 252px;
    height: 51px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(25, 20, 20, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_onefiveeightfour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
            
            
        