#id_fourthreeeight_onefoursixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    border-width: 1px;
}

#id_fourthreeeight_onefoursixnigth .C_fourthreeeight_onefoursixseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
}

#id_fourthreefour_oneeightonezero.C_fourthreeeight_onefoursixseven #id_fourthreefour_oneeightzeroeight, #id_fourthreeeight_onefoursixseven_fourthreefour_oneeightzeroeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(22, 155, 69, 1);
    border-radius: 3px;
    object-fit: unset;
    object-position: initial;
}

#id_fourthreeeight_onefoursixfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 14px;
    height: 14px;
    left: 1px;
    top: 1px;
    border-width: 0px;
    fill: rgba(22, 155, 69, 1);
}

#id_fourthreeeight_onefoursixnigth .C_fourthreeeight_onefoursixseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
}

#id_fourthreefour_oneeightonezero.C_fourthreeeight_onefoursixseven #id_fourthreefour_oneeightzeroeight, #id_fourthreeeight_onefoursixseven_fourthreefour_oneeightzeroeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(22, 155, 69, 1);
    border-radius: 3px;
    object-fit: unset;
    object-position: initial;
}
        
            



        