#id_fourthreeeight_fiveonefourthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    border-width: 1px;
    border-radius: 4px;
    background: rgba(40, 40, 40, 1);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.30000001192092896);
}

#id_fourthreeeight_fiveonethreefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 208px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_fiveonetwoonigth {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 11px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_fourthreeeight_fiveonethreefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 208px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_fiveonethreesix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 16.44499969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_fiveonethreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 208px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_fiveonethreeeight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 16.44499969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_fiveonethreenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 208px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_fiveonefourzero {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 16.44499969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_fiveonefourone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 208px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_fiveonefourtwoo {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 16.44499969482422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
            
            










        