#id_threeonefour_onenigthzerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    border-width: 1px;
    border-radius: 8px;
}

#id_threeonefour_onenigthzerosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 8px;
}

#id_threeonefour_onenigthzeroseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onenigthzeroeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 1160px;
    height: auto;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onenigthzeronigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 90px;
    padding-top: 50px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    background: linear-gradient(-178.49deg, rgba(30, 215, 96, 1) 0.00%, rgba(18, 18, 18, 1) 23.82%);
    background-position: center;
    background-size: cover;
    row-gap: 40px;
}

#id_threeonefour_foureightnigthnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 28px;
}

#id_threeonefour_foureightnigtheight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 618px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 55px;
}

#id_threeonefour_twootwootwooeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 597px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 38px;
}

#id_threeonefour_onenigthzerofive .C_sixtwooeight_onesixfourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 354px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesevenfivenigth.C_sixtwooeight_onesixfourzero #id_sixtwoosix_onesevenfiveeight, #id_sixtwooeight_onesixfourzero_sixtwoosix_onesevenfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 23px;
    line-height: 29.094999313354492px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threeonefour_onenigthzerofive .C_sixtwoosix_onesixsixtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 579px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesixfivenigth.C_sixtwoosix_onesixsixtwoo #id_sixtwoosix_onesixfiveeight, #id_sixtwoosix_onesixsixtwoo_sixtwoosix_onesixfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 72px;
    line-height: 91.08000183105469px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_twootwootwooseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 4px;
}

#id_threeonefour_twootwoooneseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_twootwooonezero {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_sixtwooeight_onesixfourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesevenfivenigth.C_sixtwooeight_onesixfourtwoo #id_sixtwoosix_onesevenfiveeight, #id_sixtwooeight_onesixfourtwoo_sixtwoosix_onesevenfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threeonefour_twootwoothreefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 567px;
    height: 48px;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
    column-gap: 20px;
}

#id_threeonefour_twoosevennigthsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_twootwoothreethree {
    box-sizing: border-box;
    display: flex;
    width: 21px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_threeonefour_twootwoothreesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-grow: 1;
    height: 37px;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 30px;
}

#id_threeonefour_foureightnigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 618px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
    row-gap: 16px;
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureightonenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightonenigth #id_threeonefour_threesevenfivefour, #id_threeonefour_foureightonenigth_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightonenigth #id_threeonefour_threesixzeronigth, #id_threeonefour_foureightonenigth_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightonenigth #id_threeonefour_threesixzeroeight, #id_threeonefour_foureightonenigth_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureightsevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(140, 25, 50, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightsevenseven #id_threeonefour_threesevenfivefour, #id_threeonefour_foureightsevenseven_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightsevenseven #id_threeonefour_threesixzeronigth, #id_threeonefour_foureightsevenseven_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightsevenseven #id_threeonefour_threesixzeroeight, #id_threeonefour_foureightsevenseven_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureighteightone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(176, 98, 57, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightone #id_threeonefour_threesevenfivefour, #id_threeonefour_foureighteightone_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightone #id_threeonefour_threesixzeronigth, #id_threeonefour_foureighteightone_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightone #id_threeonefour_threesixzeroeight, #id_threeonefour_foureighteightone_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureighteightfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(0, 100, 80, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightfive #id_threeonefour_threesevenfivefour, #id_threeonefour_foureighteightfive_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightfive #id_threeonefour_threesixzeronigth, #id_threeonefour_foureighteightfive_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightfive #id_threeonefour_threesixzeroeight, #id_threeonefour_foureighteightfive_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureighteightnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(117, 117, 117, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightnigth #id_threeonefour_threesevenfivefour, #id_threeonefour_foureighteightnigth_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightnigth #id_threeonefour_threesixzeronigth, #id_threeonefour_foureighteightnigth_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightnigth #id_threeonefour_threesixzeroeight, #id_threeonefour_foureighteightnigth_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureightnigththree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(83, 122, 161, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightnigththree #id_threeonefour_threesevenfivefour, #id_threeonefour_foureightnigththree_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightnigththree #id_threeonefour_threesixzeronigth, #id_threeonefour_foureightnigththree_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightnigththree #id_threeonefour_threesixzeroeight, #id_threeonefour_foureightnigththree_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_fourthreethree_oneonethreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 32px;
    padding-top: 32px;
    align-items: center;
    align-content: center;
    width: 1160px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(36, 36, 36, 1);
    background-position: center;
    background-size: cover;
    row-gap: 30px;
}

#id_fourthreethree_oneonethreeeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 30px;
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_oneonezerofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezerofivetwoo.C_fourthreethree_oneonezerofour #id_fourthreethree_onezerofourtwoo, #id_fourthreethree_oneonezerofour_fourthreethree_onezerofourtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_oneonezerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeroseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseventhree #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeroseventhree_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseventhree #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeroseventhree_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseventhree #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeroseventhree_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseventhree #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeroseventhree_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeroseveneight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseveneight #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeroseveneight_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseveneight #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeroseveneight_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseveneight #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeroseveneight_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseveneight #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeroseveneight_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeroeightthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeightthree #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeroeightthree_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeightthree #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeroeightthree_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeightthree #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeroeightthree_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeightthree #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeroeightthree_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeroeighteight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeighteight #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeroeighteight_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeighteight #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeroeighteight_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeighteight #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeroeighteight_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeighteight #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeroeighteight_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeronigththree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigththree #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeronigththree_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigththree #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeronigththree_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigththree #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeronigththree_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigththree #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeronigththree_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeronigtheight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigtheight #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeronigtheight_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigtheight #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeronigtheight_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigtheight #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeronigtheight_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigtheight #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeronigtheight_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneonesixsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 16px;
}

#id_threeonefour_onenigthzerofive .C_sixtwoosix_onesixnigthnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesixsixsix.C_sixtwoosix_onesixnigthnigth #id_sixtwoosix_onesixsixfive, #id_sixtwoosix_onesixnigthnigth_sixtwoosix_onesixsixfive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 45px;
    line-height: 56.92499923706055px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreefour_oneonefivefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_oneonefivetwoo.C_fourthreefour_oneonefivefive #id_fourthreefour_oneonefournigth, #id_fourthreefour_oneonefivefive_fourthreefour_oneonefournigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreeeight_onethreezerosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 21px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 21px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_oneonesixthree.C_fourthreeeight_onethreezerosix #id_fourthreefour_oneonesixtwoo, #id_fourthreeeight_onethreezerosix_fourthreefour_oneonesixtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onenigthzerofive .C_sixtwooeight_onesixfourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 354px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesevenfivenigth.C_sixtwooeight_onesixfourzero #id_sixtwoosix_onesevenfiveeight, #id_sixtwooeight_onesixfourzero_sixtwoosix_onesevenfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 23px;
    line-height: 29.094999313354492px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threeonefour_onenigthzerofive .C_sixtwoosix_onesixsixtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 579px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesixfivenigth.C_sixtwoosix_onesixsixtwoo #id_sixtwoosix_onesixfiveeight, #id_sixtwoosix_onesixsixtwoo_sixtwoosix_onesixfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 72px;
    line-height: 91.08000183105469px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_sixtwooeight_onesixfourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesevenfivenigth.C_sixtwooeight_onesixfourtwoo #id_sixtwoosix_onesevenfiveeight, #id_sixtwooeight_onesixfourtwoo_sixtwoosix_onesevenfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureightonenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightonenigth #id_threeonefour_threesevenfivefour, #id_threeonefour_foureightonenigth_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightonenigth #id_threeonefour_threesixzeronigth, #id_threeonefour_foureightonenigth_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightonenigth #id_threeonefour_threesixzeroeight, #id_threeonefour_foureightonenigth_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureightsevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(140, 25, 50, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightsevenseven #id_threeonefour_threesevenfivefour, #id_threeonefour_foureightsevenseven_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightsevenseven #id_threeonefour_threesixzeronigth, #id_threeonefour_foureightsevenseven_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightsevenseven #id_threeonefour_threesixzeroeight, #id_threeonefour_foureightsevenseven_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureighteightone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(176, 98, 57, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightone #id_threeonefour_threesevenfivefour, #id_threeonefour_foureighteightone_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightone #id_threeonefour_threesixzeronigth, #id_threeonefour_foureighteightone_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightone #id_threeonefour_threesixzeroeight, #id_threeonefour_foureighteightone_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureighteightfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(0, 100, 80, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightfive #id_threeonefour_threesevenfivefour, #id_threeonefour_foureighteightfive_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightfive #id_threeonefour_threesixzeronigth, #id_threeonefour_foureighteightfive_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightfive #id_threeonefour_threesixzeroeight, #id_threeonefour_foureighteightfive_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureighteightnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(117, 117, 117, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightnigth #id_threeonefour_threesevenfivefour, #id_threeonefour_foureighteightnigth_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightnigth #id_threeonefour_threesixzeronigth, #id_threeonefour_foureighteightnigth_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureighteightnigth #id_threeonefour_threesixzeroeight, #id_threeonefour_foureighteightnigth_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_threeonefour_foureightnigththree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 12px;
    padding-top: 12px;
    align-items: flex-start;
    align-content: flex-start;
    width: 194px;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(83, 122, 161, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightnigththree #id_threeonefour_threesevenfivefour, #id_threeonefour_foureightnigththree_threeonefour_threesevenfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 182px;
    height: 85px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 3px;
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightnigththree #id_threeonefour_threesixzeronigth, #id_threeonefour_foureightnigththree_threeonefour_threesixzeronigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_foureightzerozero.C_threeonefour_foureightnigththree #id_threeonefour_threesixzeroeight, #id_threeonefour_foureightnigththree_threeonefour_threesixzeroeight {
    box-sizing: border-box;
    display: flex;
    width: 85px;
    height: 85px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20000000298023224);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_oneonezerofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezerofivetwoo.C_fourthreethree_oneonezerofour #id_fourthreethree_onezerofourtwoo, #id_fourthreethree_oneonezerofour_fourthreethree_onezerofourtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeroseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseventhree #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeroseventhree_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseventhree #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeroseventhree_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseventhree #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeroseventhree_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseventhree #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeroseventhree_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeroseveneight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseveneight #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeroseveneight_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseveneight #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeroseveneight_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseveneight #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeroseveneight_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroseveneight #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeroseveneight_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeroeightthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeightthree #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeroeightthree_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeightthree #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeroeightthree_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeightthree #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeroeightthree_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeightthree #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeroeightthree_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeroeighteight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeighteight #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeroeighteight_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeighteight #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeroeighteight_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeighteight #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeroeighteight_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeroeighteight #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeroeighteight_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeronigththree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigththree #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeronigththree_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigththree #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeronigththree_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigththree #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeronigththree_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigththree #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeronigththree_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreethree_onezeronigtheight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 559px;
    height: auto;
    flex-wrap: wrap;
    left: initial;
    top: initial;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigtheight #id_fourthreethree_onezerosevenzero, #id_fourthreethree_onezeronigtheight_fourthreethree_onezerosevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigtheight #id_fourthreethree_onezerosevenone, #id_fourthreethree_onezeronigtheight_fourthreethree_onezerosevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigtheight #id_fourthreethree_onezerofiveseven, #id_fourthreethree_onezeronigtheight_fourthreethree_onezerofiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 24px;
    height: 24px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreethree_onezeroseventwoo.C_fourthreethree_onezeronigtheight #id_fourthreethree_onezerofiveeight, #id_fourthreethree_onezeronigtheight_fourthreethree_onezerofiveeight {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_sixtwoosix_onesixnigthnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesixsixsix.C_sixtwoosix_onesixnigthnigth #id_sixtwoosix_onesixsixfive, #id_sixtwoosix_onesixnigthnigth_sixtwoosix_onesixsixfive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 45px;
    line-height: 56.92499923706055px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreefour_oneonefivefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_oneonefivetwoo.C_fourthreefour_oneonefivefive #id_fourthreefour_oneonefournigth, #id_fourthreefour_oneonefivefive_fourthreefour_oneonefournigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 18px;
    line-height: 22.770000457763672px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_onenigthzerofive .C_fourthreeeight_onethreezerosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 21px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 21px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_oneonesixthree.C_fourthreeeight_onethreezerosix #id_fourthreefour_oneonesixtwoo, #id_fourthreeeight_onethreezerosix_fourthreefour_oneonesixtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
        
            























































































        