.C_fourthreefour_twoothreefivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 450px;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    row-gap: 7px;
}

#id_fourthreefour_twoothreefourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefourone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_twoothreefourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(229, 229, 229, 1);
    border-radius: 4px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_twoothreefourthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 32px;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefourfour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 18.19999885559082px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero .C_fourthreefour_twoothreefournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefoursix, #id_fourthreefour_twoothreefournigth_fourthreefour_twoothreefoursix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefourseven, #id_fourthreefour_twoothreefournigth_fourthreefour_twoothreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero .C_fourthreefour_twoothreefournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefoursix, #id_fourthreefour_twoothreefournigth_fourthreefour_twoothreefoursix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefourseven, #id_fourthreefour_twoothreefournigth_fourthreefour_twoothreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}
        
            








        