.C_fourthreefour_onesevenzerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 96px;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    row-gap: 8px;
}

#id_fourthreefour_onesixfivenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_onesixsixzero {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(24, 24, 24, 1);
}

#id_fourthreefour_onesixsixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    width: 68px;
    height: auto;
    overflow: hidden;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(229, 229, 229, 1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_onesixsevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 32px;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_onesixsevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 18.19999885559082px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(106, 106, 106, 1);
}

#id_fourthreefour_onesevenzerotwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_onesevenzerothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 8px;
    left: 0.2506599724292755px;
    top: 4.731291770935059px;
    border-width: 0px;
    fill: rgba(106, 106, 106, 1);
    display: none;
}
            
            







        