#id_fourthreefour_twoofivetwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 70px;
    height: 92px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_fourthreefour_twoofiveonenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-top: 2px;
    align-items: center;
    align-content: center;
    width: 30px;
    height: 16px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 30px;
    background: rgba(30, 215, 96, 1);
    background-position: center;
    background-size: cover;
    column-gap: 10px;
}

#id_fourthreefour_twoofiveonethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
    align-content: center;
    width: 12px;
    height: 12px;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 20px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

.C_fourthreefour_twoofivetwooone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-top: 2px;
    align-items: center;
    align-content: center;
    width: 30px;
    height: 16px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 30px;
    background: rgba(114, 114, 114, 1);
    background-position: center;
    background-size: cover;
    column-gap: 10px;
}

#id_fourthreefour_twoofivetwootwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
    align-content: center;
    width: 12px;
    height: 12px;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 20px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}
            
            
        