#id_fourthreeeight_onetwoonigthnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 284px;
    height: 172px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_fourthreefour_oneonesixthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 21px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 21px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(30, 215, 96, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_oneonesixtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

.C_fourthreeeight_onethreezerozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 21px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 21px;
    align-items: center;
    align-content: center;
    width: 253px;
    height: 58px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(105, 220, 114, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreeeight_onethreezeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            
        