#id_twooone_threezerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 88px;
    height: 156px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_twooone_threezerotwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 48px;
    height: 48px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 100px;
    background: rgba(30, 215, 96, 1);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_sixnigth_eightsevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 3.509999990463257px;
    padding-left: 6px;
    padding-right: 3.109999895095825px;
    padding-top: 3.509999990463257px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twooone_twoonigthnigth {
    box-sizing: border-box;
    display: flex;
    width: 14px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

.C_twooone_threezerofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 52px;
    height: 52px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 100px;
    background: rgba(30, 215, 96, 1);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_sixnigth_nigtheightzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 3.5px;
    padding-left: 6px;
    padding-right: 3px;
    padding-top: 3.5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twooone_threezerofive {
    box-sizing: border-box;
    display: flex;
    width: 15px;
    height: 17px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}
            
            
        