#id_one_eightfivetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 304px;
    height: 702px;
    overflow: hidden;
    border-width: 1px;
    background: rgba(31, 31, 31, 1);
    background-position: center;
    background-size: cover;
}

#id_one_eightfiveeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 256px;
    height: 112px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_one_eightfivenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 30px;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(114, 114, 114, 1);
    border-radius: 40px;
    column-gap: 10px;
}

#id_one_eightsixzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_one_eightsixone {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 15px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_one_eightsixtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(247, 251, 249, 1);
}

.C_one_eightsixthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 30px;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border-width: 1.2000000476837158px;
    border-style: solid;
    border-color: rgba(167, 167, 167, 1);
    border-radius: 40px;
    column-gap: 10px;
}

#id_one_eightsixfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_one_eightsixfive {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 15px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_one_eightsixsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(247, 251, 249, 1);
}

#id_onesixtwoo_fournigthfivefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 158px;
    height: 124px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_onesixtwoo_fournigthfivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 32px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixtwoo_fournigthfivethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

.C_onesixtwoo_fournigthfivesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 34px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(245, 245, 245, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixtwoo_fournigthfiveseven {
    box-sizing: border-box;
    display: flex;
    align-self: stretch;
    width: auto;
    align-self: stretch;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_onesixtwoo_fournigtheightthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 206px;
    height: 176px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_onesixtwoo_fournigtheighttwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 161px;
    height: 48px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixtwoo_fournigtheightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

.C_onesixtwoo_fournigtheightfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 168px;
    height: 50px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(245, 245, 245, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixtwoo_fournigtheightfive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            
        