#id_sixthreetwoo_onesevenseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: 18px;
    border-width: 1px;
}

#id_sixthreetwoo_onesevensevenone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            

        