#id_fourthreeeight_onethreethreeeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 104px;
    height: 80px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            
            
        