#id_fourthreeeight_onethreefourfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    border-width: 1px;
}

#id_fourthreeeight_onethreefoursix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    box-sizing: border-box;
    border-width: 3.5px;
    border-style: solid;
    border-color: rgba(22, 155, 69, 1);
    border-radius: 100px;
    object-fit: unset;
    object-position: initial;
}
            
            

        