.C_fourthreeeight_onetwoofoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 410px;
    height: 50px;
    flex-wrap: nowrap;
    border-width: 2px;
    border-radius: 40px;
    background: rgba(61, 78, 125, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreeeight_onetwoofourseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreeeight_onetwoofoureight {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_onetwoofournigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
            
            



        