#id_fivefivenigth_twoozerosevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 136px;
    height: 80px;
    border-width: 1px;
}

#id_fivefivenigth_twoozerosixtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 80px;
    overflow: hidden;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_twoozerosixthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 135.876953125px;
    height: 79.7392578125px;
    left: 0.025044642388820648px;
    border-width: 1px;
}

#id_fivefivenigth_twoozerosixfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 135.876953125px;
    height: 79.7392578125px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_twoozerosixfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 135.876953125px;
    height: 79.7392578125px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_twoozerosixsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 135.876953125px;
    height: 79.7392578125px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_twoozerosixseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 112px;
    height: 74px;
    left: 11.373092651367188px;
    border-width: 0px;
    fill: rgba(58, 58, 58, 1);
}

#id_fivefivenigth_twoozerosixeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 97px;
    height: 61px;
    left: 18.679615020751953px;
    top: 6.840180397033691px;
    border-width: 0px;
    fill: rgba(97, 100, 103, 1);
}

#id_fivefivenigth_twoozerosixnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 135.876953125px;
    height: 5.67724609375px;
    left: 4.683222143420096e-10px;
    top: 74.0620346069336px;
    border-width: 1px;
}

#id_fivefivenigth_twoozerosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 135px;
    height: 5px;
    left: initial;
    border-width: 0px;
    fill: rgba(47, 46, 46, 1);
}

#id_fivefivenigth_twoozerosevenone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 1px;
    left: 60.345863342285156px;
    top: 0.1290251761674881px;
    border-width: 0px;
    fill: rgba(33, 33, 33, 1);
}

#id_fivefivenigth_twoozeroseventwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 3px;
    height: 0px;
    left: 66.02176666259766px;
    top: 3.4837541580200195px;
    border-width: 0px;
    fill: rgba(33, 33, 33, 1);
}

#id_fivefivenigth_twoozeroseventhree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 35px;
    height: 35px;
    overflow: hidden;
    left: 51px;
    top: 20px;
    border-width: 1px;
}

#id_fivefivenigth_twoozerosevenfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 31px;
    height: 31px;
    left: 2px;
    top: 2px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(25, 230, 140, 1);
}

#id_fivefivenigth_twoozerosevenfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 11px;
    height: 10px;
    overflow: hidden;
    left: 63px;
    top: 32px;
    border-width: 1px;
}

#id_fivefivenigth_twoozerosevensix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 7px;
    height: 6px;
    left: 2px;
    top: 2px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(25, 230, 140, 1);
}
            
            















        