.C_fourthreeeight_oneseveneightfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 171px;
    height: 40px;
    border-width: 1px;
}

#id_fourthreeeight_oneseveneightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 12px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_oneeightonefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: 34px;
    top: 7px;
    border-width: 1px;
}

#id_fourthreeeight_oneseveneightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
            
            



        