#id_fourthreeeight_oneeightfoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    align-items: flex-start;
    align-content: flex-start;
    width: 239px;
    height: auto;
    border-width: 1px;
    border-radius: 4px;
    background: rgba(40, 40, 40, 1);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.30000001192092896);
}

#id_fourthreeeight_oneeightfoureight .C_fourthreeeight_oneeightfournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-self: stretch;
    height: 40px;
    left: initial;
    top: initial;
}

#id_fourthreeeight_oneseveneightfive.C_fourthreeeight_oneeightfournigth #id_fourthreeeight_oneseveneightthree, #id_fourthreeeight_oneeightfournigth_fourthreeeight_oneseveneightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 12px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_oneseveneightfive.C_fourthreeeight_oneeightfournigth #id_fourthreeeight_oneeightonefour, #id_fourthreeeight_oneeightfournigth_fourthreeeight_oneeightonefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: 34px;
    top: 7px;
    border-width: 1px;
}

#id_fourthreeeight_oneseveneightfive.C_fourthreeeight_oneeightfournigth #id_fourthreeeight_oneseveneightone, #id_fourthreeeight_oneeightfournigth_fourthreeeight_oneseveneightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_oneeightfoureight .C_fourthreeeight_oneeightfivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 228px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_fourthreeeight_oneeightthreezero.C_fourthreeeight_oneeightfivezero #id_fourthreeeight_oneeighttwooseven, #id_fourthreeeight_oneeightfivezero_fourthreeeight_oneeighttwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 12px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_oneeightthreezero.C_fourthreeeight_oneeightfivezero #id_fourthreeeight_oneeighttwooeight, #id_fourthreeeight_oneeightfivezero_fourthreeeight_oneeighttwooeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: 34px;
    top: 7px;
    border-width: 1px;
}

#id_fourthreeeight_oneeightthreezero.C_fourthreeeight_oneeightfivezero #id_fourthreeeight_oneeighttwoonigth, #id_fourthreeeight_oneeightfivezero_fourthreeeight_oneeighttwoonigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_oneeightfoureight .C_fourthreeeight_oneeightfournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-self: stretch;
    height: 40px;
    left: initial;
    top: initial;
}

#id_fourthreeeight_oneseveneightfive.C_fourthreeeight_oneeightfournigth #id_fourthreeeight_oneseveneightthree, #id_fourthreeeight_oneeightfournigth_fourthreeeight_oneseveneightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 12px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_oneseveneightfive.C_fourthreeeight_oneeightfournigth #id_fourthreeeight_oneeightonefour, #id_fourthreeeight_oneeightfournigth_fourthreeeight_oneeightonefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: 34px;
    top: 7px;
    border-width: 1px;
}

#id_fourthreeeight_oneseveneightfive.C_fourthreeeight_oneeightfournigth #id_fourthreeeight_oneseveneightone, #id_fourthreeeight_oneeightfournigth_fourthreeeight_oneseveneightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_oneeightfoureight .C_fourthreeeight_oneeightfivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 228px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_fourthreeeight_oneeightthreezero.C_fourthreeeight_oneeightfivezero #id_fourthreeeight_oneeighttwooseven, #id_fourthreeeight_oneeightfivezero_fourthreeeight_oneeighttwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 12px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_oneeightthreezero.C_fourthreeeight_oneeightfivezero #id_fourthreeeight_oneeighttwooeight, #id_fourthreeeight_oneeightfivezero_fourthreeeight_oneeighttwooeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: 34px;
    top: 7px;
    border-width: 1px;
}

#id_fourthreeeight_oneeightthreezero.C_fourthreeeight_oneeightfivezero #id_fourthreeeight_oneeighttwoonigth, #id_fourthreeeight_oneeightfivezero_fourthreeeight_oneeighttwoonigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
        
            








        