#id_fivetwoofour_onesixnigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 14px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 14px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    border-width: 1px;
    border-radius: 2px;
    background: rgba(41, 41, 41, 1);
    background-position: center;
    background-size: cover;
}

#id_fivetwoofour_onesixnigtheight {
    box-sizing: border-box;
    display: flex;
    width: 22px;
    height: 20px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}
            
            

        