#id_fourthreeeight_onethreethreesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 172px;
    height: 144px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            
            
        