#id_fivefivenigth_twoozerofourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 111px;
    height: 40px;
    border-width: 1px;
}

#id_fivefivenigth_twoozerofourone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 111px;
    height: 40px;
    left: initial;
    box-sizing: border-box;
    border-width: 0.800000011920929px;
    border-style: solid;
    border-color: rgba(166, 166, 166, 1);
    border-radius: 5px;
    object-fit: fill;
    object-position: initial;
}
            
            

        