#id_one_eightfournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 260px;
    height: 315px;
    overflow: hidden;
    border-width: 1px;
    background: rgba(31, 31, 31, 1);
    background-position: center;
    background-size: cover;
}

#id_one_eightfivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 70px;
    left: 39px;
    top: 34px;
    border-width: 1px;
    row-gap: 10px;
}

#id_one_eightfiveone {
    box-sizing: border-box;
    display: flex;
    width: 129px;
    height: 39px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_twoofourfour_nigthzerozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 72px;
    height: 30px;
    left: 49px;
    top: 112px;
    border-width: 1px;
}

#id_twoofourfour_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: 72px;
    height: 22px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fourthreefour_onefouroneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 130px;
    height: 40px;
    overflow: hidden;
    left: 49px;
    top: 179px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_onefouroneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 129px;
    height: 40px;
    left: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}
            
            






        