.C_onesix_onenigththree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    border-width: 1px;
}

#id_onesix_oneeightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            

        