#id_fourthreeeight_sixthreetwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 20px;
    height: 18px;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}
            
            
            
        