#id_fourthreeeight_fourtwooonenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 72px;
    height: 124px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_fourthreeeight_fourtwoooneeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    border-width: 1px;
}

#id_fourthreeeight_fourtwoozeroeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

.C_fourthreeeight_fourtwootwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    border-width: 1px;
}

#id_fourthreeeight_fourtwootwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            
        