.C_onesixtwoo_fournigthfivesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 34px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 40px;
    background: rgba(245, 245, 245, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixtwoo_fournigthfiveseven {
    box-sizing: border-box;
    display: flex;
    align-self: stretch;
    width: auto;
    align-self: stretch;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            

        