.C_fourthreefour_twoothreefoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    border-width: 1px;
    row-gap: 10px;
}

#id_fourthreefour_twoothreefoursix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}
            
            


        