.C_fourthreefour_onesevensevennigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    column-gap: 12px;
}

#id_fourthreefour_onesevensevennigth .C_fourthreeeight_onefoursevensix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    top: initial;
}

#id_fourthreeeight_onethreefourone.C_fourthreeeight_onefoursevensix #id_fourthreeeight_onethreethreenigth, #id_fourthreeeight_onefoursevensix_fourthreeeight_onethreethreenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreefour_onesevenseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 4px;
    padding-top: 4px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_onesevensixeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreefour_onesevensevennigth .C_fourthreeeight_onefoursevensix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    top: initial;
}

#id_fourthreeeight_onethreefourone.C_fourthreeeight_onefoursevensix #id_fourthreeeight_onethreethreenigth, #id_fourthreeeight_onefoursevensix_fourthreeeight_onethreethreenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
        
            




        