#id_fourthreeeight_onesevensixsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 19px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 19px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    border-width: 1px;
    background: linear-gradient(-180.00deg, rgba(175, 41, 150, 1) 9.52%, rgba(135, 90, 191, 1) 48.15%, rgba(81, 154, 244, 1) 100.00%);
    background-position: center;
    background-size: cover;
    column-gap: 274px;
}

#id_fourthreeeight_onesevensixseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreeeight_onesevensixeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 11px;
    line-height: 19.200000762939453px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_onesevensixnigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 15px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_onesevensixsix .C_fourthreeeight_onesevenseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 161px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigtheighttwoo.C_fourthreeeight_onesevenseventwoo #id_onesixtwoo_fournigtheightone, #id_fourthreeeight_onesevenseventwoo_onesixtwoo_fournigtheightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreeeight_onesevensixsix .C_fourthreeeight_onesevenseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 161px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigtheighttwoo.C_fourthreeeight_onesevenseventwoo #id_onesixtwoo_fournigtheightone, #id_fourthreeeight_onesevenseventwoo_onesixtwoo_fournigtheightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
        
            





        