#id_onesixnigth_nigtheighteight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 61px;
    height: 115px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_onesixnigth_nigtheightnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    border-width: 1px;
}

#id_onesixnigth_nigthnigthzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

.C_onesixnigth_nigthnigthone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    border-width: 1px;
}

#id_onesixnigth_nigthnigthtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            
        