.C_fourthreesix_oneoneeighteight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 394px;
    height: 48px;
    flex-wrap: nowrap;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-radius: 40px;
}

#id_fourthreesix_oneoneeightnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreesix_oneonenigthzero {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreesix_oneonenigthone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
            
            



        