.C_fourthreeeight_fouronesevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_fourthreeeight_fouronesevenseven .C_fourthreeeight_fouronesevenfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(62, 62, 62, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixtwoo_fournigthfivefour.C_fourthreeeight_fouronesevenfive #id_onesixtwoo_fournigthfivethree, #id_fourthreeeight_fouronesevenfive_onesixtwoo_fournigthfivethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_fouronesevenseven .C_fourthreeeight_fouronesevenfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    background: rgba(62, 62, 62, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixtwoo_fournigthfivefour.C_fourthreeeight_fouronesevenfive #id_onesixtwoo_fournigthfivethree, #id_fourthreeeight_fouronesevenfive_onesixtwoo_fournigthfivethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
        
            


        