.C_fourthreefour_oneeightonezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    border-width: 1px;
}

#id_fourthreefour_oneeightzeroeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(135, 135, 135, 1);
    border-radius: 3px;
    object-fit: unset;
    object-position: initial;
}
            
            

        