.C_threeonefour_onetwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_threeonefour_onetwooeightone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 25px;
}

#id_threeonefour_onetwooeighttwoo {
    box-sizing: border-box;
    display: flex;
    width: 142px;
    height: 142px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: contain;
    object-position: initial;
}

#id_threeonefour_onetwooeightthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 10px;
}

#id_threeonefour_onetwooeightfour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 21px;
    line-height: 27.299999237060547px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onetwooeightfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 10px;
}

#id_threeonefour_onetwooeightsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            






        