.C_sixtwoosix_onesixfivenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_sixtwoosix_onesixfiveeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 72px;
    line-height: 91.08000183105469px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
            
            

        