#id_fourthreeeight_sevenonezeroeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1220px;
    height: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(220, 221, 235, 1);
    object-fit: unset;
    object-position: initial;
}
            
            
            
        