.C_onesixnigth_nigthnigthone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    border-width: 1px;
}

#id_onesixnigth_nigthnigthtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            

        