.C_three_oneeightfoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_one_nigthzerozero {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 20.239999771118164px;
    flex-direction: column;
    text-align: right;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(173, 173, 173, 1);
}
            
            

        