.C_threeonefour_onefiveonesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    column-gap: 10px;
}

#id_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            



        