#id_onesixnigth_nigtheightsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 32px;
    overflow: hidden;
    border-width: 1px;
    border-radius: 100px;
    background: rgba(24, 24, 24, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixnigth_nigtheightseven {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 15px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}
            
            

        