.C_fourthreesix_onetwooonefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 410px;
    height: 50px;
    flex-wrap: nowrap;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(83, 83, 83, 1);
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreesix_onetwooonesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreesix_onetwoooneseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreesix_onetwoooneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 9px;
    height: 9px;
    left: 12px;
    top: 10.18179988861084px;
    border-width: 0px;
    fill: rgba(66, 133, 244, 1);
}

#id_fourthreesix_onetwooonenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 8px;
    left: 3.0636000633239746px;
    top: 13.899900436401367px;
    border-width: 0px;
    fill: rgba(52, 168, 83, 1);
}

#id_fourthreesix_onetwootwoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 8px;
    left: 2px;
    top: 7.509160041809082px;
    border-width: 0px;
    fill: rgba(251, 188, 5, 1);
}

#id_fourthreesix_onetwootwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 8px;
    left: 3.0636000633239746px;
    top: 2px;
    border-width: 0px;
    fill: rgba(234, 67, 53, 1);
}

#id_fourthreesix_onetwootwootwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(83, 83, 83, 1);
}
            
            







        