#id_onefoureight_onezerotwooeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 1160px;
    height: auto;
    border-width: 1px;
    border-radius: 8px;
}

#id_onefoureight_onezerotwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 436.52001953125px;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 8px;
}

#id_onefoureight_onezerofourone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 30px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: 436.52001953125px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    background: linear-gradient(-180.00deg, rgba(28, 28, 28, 1) 0.00%, rgba(19, 19, 19, 1) 100.00%);
    background-position: center;
    background-size: cover;
    row-gap: 20px;
}

#id_onefoureight_onezerofourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_onefoureight_onezerofourtwoo_one_eightnigthseven {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 23px;
    line-height: 29.094999313354492px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onefoureight_onezerofourthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 20px;
}

#id_onefoureight_onezerofourfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 20px;
}

#id_onefoureight_onezerofourfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 6px;
    background: rgba(24, 24, 24, 1);
    background-position: center;
    background-size: cover;
    row-gap: 15px;
}

#id_onefoureight_onezerofoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 157px;
    height: 157px;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 6px;
}

#id_onefoureight_onezerofourseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 10px;
    align-items: flex-end;
    align-content: flex-end;
    width: 157px;
    height: 157px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: url(https://cdn.uncodie.com/tACQBrKCV97e0EqPE1XNLJ/156a04b60447fec45af1262f0b17ae9d3bff721d.png);
    background-position: center;
    background-size: cover;
    column-gap: 10px;
}

#id_onefoureight_onezerotwooeight .C_onefoureight_onezerofoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 48px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_twooone_threezerotwoo.C_onefoureight_onezerofoureight #id_sixnigth_eightsevenone, #id_onefoureight_onezerofoureight_sixnigth_eightsevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 3.509999990463257px;
    padding-left: 6px;
    padding-right: 3.109999895095825px;
    padding-top: 3.509999990463257px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twooone_threezerotwoo.C_onefoureight_onezerofoureight #id_twooone_twoonigthnigth, #id_onefoureight_onezerofoureight_twooone_twoonigthnigth {
    box-sizing: border-box;
    display: flex;
    width: 14px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_onefoureight_onezerofournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: 75px;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_onefoureight_onezerotwooeight .C_onefoureight_onezerofivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_oneseven_twoosixfour.C_onefoureight_onezerofivezero #id_oneseven_twoosixthree, #id_onefoureight_onezerofivezero_oneseven_twoosixthree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onefoureight_onezerotwooeight .C_onefoureight_onezerofiveone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: 39px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_onefoureight_onezerofiveone #id_one_nigthzerothree, #id_onefoureight_onezerofiveone_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    white-space: break-spaces;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_onefivefour_threetwoonigthfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 20px;
}

#id_onefivefour_threetwoonigthfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 20px;
}

#id_onefivefour_threetwoonigthsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 6px;
    background: rgba(24, 24, 24, 1);
    background-position: center;
    background-size: cover;
    row-gap: 15px;
}

#id_onefivefour_threetwoonigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 157px;
    height: 157px;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 6px;
}

#id_onefivefour_threetwoonigtheight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 10px;
    align-items: flex-end;
    align-content: flex-end;
    width: 157px;
    height: 157px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: url(https://cdn.uncodie.com/tACQBrKCV97e0EqPE1XNLJ/156a04b60447fec45af1262f0b17ae9d3bff721d.png);
    background-position: center;
    background-size: cover;
    column-gap: 10px;
}

#id_onefoureight_onezerotwooeight .C_onefivefour_threetwoonigthnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 48px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_twooone_threezerotwoo.C_onefivefour_threetwoonigthnigth #id_sixnigth_eightsevenone, #id_onefivefour_threetwoonigthnigth_sixnigth_eightsevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 3.509999990463257px;
    padding-left: 6px;
    padding-right: 3.109999895095825px;
    padding-top: 3.509999990463257px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twooone_threezerotwoo.C_onefivefour_threetwoonigthnigth #id_twooone_twoonigthnigth, #id_onefivefour_threetwoonigthnigth_twooone_twoonigthnigth {
    box-sizing: border-box;
    display: flex;
    width: 14px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_onefivefour_threethreezerozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: 75px;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_onefoureight_onezerotwooeight .C_onefivefour_threethreezeroone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_oneseven_twoosixfour.C_onefivefour_threethreezeroone #id_oneseven_twoosixthree, #id_onefivefour_threethreezeroone_oneseven_twoosixthree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onefoureight_onezerotwooeight .C_onefivefour_threethreezerotwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: 39px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_onefivefour_threethreezerotwoo #id_one_nigthzerothree, #id_onefivefour_threethreezerotwoo_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    white-space: break-spaces;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_onefoureight_onezerofourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_onefoureight_onezerofourtwoo_one_eightnigthseven {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 23px;
    line-height: 29.094999313354492px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onefoureight_onezerotwooeight .C_onefoureight_onezerofoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 48px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_twooone_threezerotwoo.C_onefoureight_onezerofoureight #id_sixnigth_eightsevenone, #id_onefoureight_onezerofoureight_sixnigth_eightsevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 3.509999990463257px;
    padding-left: 6px;
    padding-right: 3.109999895095825px;
    padding-top: 3.509999990463257px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twooone_threezerotwoo.C_onefoureight_onezerofoureight #id_twooone_twoonigthnigth, #id_onefoureight_onezerofoureight_twooone_twoonigthnigth {
    box-sizing: border-box;
    display: flex;
    width: 14px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_onefoureight_onezerotwooeight .C_onefoureight_onezerofivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_oneseven_twoosixfour.C_onefoureight_onezerofivezero #id_oneseven_twoosixthree, #id_onefoureight_onezerofivezero_oneseven_twoosixthree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onefoureight_onezerotwooeight .C_onefoureight_onezerofiveone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: 39px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_onefoureight_onezerofiveone #id_one_nigthzerothree, #id_onefoureight_onezerofiveone_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    white-space: break-spaces;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_onefoureight_onezerotwooeight .C_onefivefour_threetwoonigthnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    align-items: center;
    align-content: center;
    width: 48px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_twooone_threezerotwoo.C_onefivefour_threetwoonigthnigth #id_sixnigth_eightsevenone, #id_onefivefour_threetwoonigthnigth_sixnigth_eightsevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 3.509999990463257px;
    padding-left: 6px;
    padding-right: 3.109999895095825px;
    padding-top: 3.509999990463257px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twooone_threezerotwoo.C_onefivefour_threetwoonigthnigth #id_twooone_twoonigthnigth, #id_onefivefour_threetwoonigthnigth_twooone_twoonigthnigth {
    box-sizing: border-box;
    display: flex;
    width: 14px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_onefoureight_onezerotwooeight .C_onefivefour_threethreezeroone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_oneseven_twoosixfour.C_onefivefour_threethreezeroone #id_oneseven_twoosixthree, #id_onefivefour_threethreezeroone_oneseven_twoosixthree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onefoureight_onezerotwooeight .C_onefivefour_threethreezerotwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: 39px;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_onefivefour_threethreezerotwoo #id_one_nigthzerothree, #id_onefivefour_threethreezerotwoo_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    white-space: break-spaces;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}
        
            






























        