.C_fivesixnigth_twootwoothreethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_fivesixnigth_twooonenigtheight {
    box-sizing: border-box;
    display: flex;
    width: 7px;
    height: 7px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
    border-radius: 50%;
}
            
            

        