#id_fourthreeeight_fourtwooonefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    border-width: 1px;
    border-radius: 100px;
    background: rgba(86, 85, 85, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreeeight_fourtwooonesix {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}
            
            

        