.C_twoofourfour_nigthfoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 1164px;
    height: 68px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 8px 8px 0px 0px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_twoooneeight_onefoursixtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twoooneeight_onefoursixthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_twoooneeight_onefoursixfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 8px;
}

#id_twoooneeight_onefoursixfive {
    box-sizing: border-box;
    display: flex;
    width: 25px;
    height: 25px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoooneeight_onefoursixsix {
    box-sizing: border-box;
    display: flex;
    width: 25px;
    height: 25px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoooneeight_onefoursixseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 20px;
}

#id_twoooneeight_onefoursixeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 49px;
}

#id_twoooneeight_onefoursevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 18px;
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefoursevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoooneeight_onefoursevenone #id_one_nigthzerotwoo, #id_twoooneeight_onefoursevenone_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefourseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoooneeight_onefourseventwoo #id_one_nigthzerotwoo, #id_twoooneeight_onefourseventwoo_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefourseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoooneeight_onefourseventhree #id_one_nigthzerotwoo, #id_twoooneeight_onefourseventhree_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoooneeight_onefoursevenfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 49px;
}

#id_twoooneeight_onefoursevenfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 18px;
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefoursevensix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoooneeight_onefoursevensix #id_one_nigthzerotwoo, #id_twoooneeight_onefoursevensix_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefoursevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 161px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigtheighttwoo.C_twoooneeight_onefoursevenseven #id_onesixtwoo_fournigtheightone, #id_twoooneeight_onefoursevenseven_onesixtwoo_fournigtheightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefoursevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoooneeight_onefoursevenone #id_one_nigthzerotwoo, #id_twoooneeight_onefoursevenone_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefourseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoooneeight_onefourseventwoo #id_one_nigthzerotwoo, #id_twoooneeight_onefourseventwoo_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefourseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoooneeight_onefourseventhree #id_one_nigthzerotwoo, #id_twoooneeight_onefourseventhree_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefoursevensix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoooneeight_onefoursevensix #id_one_nigthzerotwoo, #id_twoooneeight_onefoursevensix_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofourfour_nigthfoureight .C_twoooneeight_onefoursevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 161px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_onesixtwoo_fournigtheighttwoo.C_twoooneeight_onefoursevenseven #id_onesixtwoo_fournigtheightone, #id_twoooneeight_onefoursevenseven_onesixtwoo_fournigtheightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
        
            




















        