#id_fivefivenigth_twoozerotwooseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 133px;
    height: 40px;
    border-width: 1px;
}

#id_fivefivenigth_twoozerotwooeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 133px;
    height: 40px;
    left: initial;
    border-width: 1px;
}

#id_fivefivenigth_twoozerotwoonigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 133px;
    height: 40px;
    left: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_fivefivenigth_twoozerothreezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 133px;
    height: 40px;
    left: initial;
    border-width: 0px;
    fill: rgba(166, 166, 166, 1);
}

#id_fivefivenigth_twoozerothreeone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 80px;
    height: 16px;
    left: 41.2470703125px;
    top: 15.645263671875px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerothreetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 12px;
    height: 23px;
    left: 11.9453125px;
    top: 6.596435546875px;
    border-width: 0px;
    fill: ;
}

#id_fivefivenigth_twoozerothreethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 9px;
    height: 8px;
    left: 24.2021484375px;
    top: 14.43408203125px;
    border-width: 0px;
    fill: ;
}

#id_fivefivenigth_twoozerothreefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 12px;
    left: 12.38525390625px;
    top: 18.5px;
    border-width: 0px;
    fill: ;
}

#id_fivefivenigth_twoozerothreefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 12px;
    left: 12.37548828125px;
    top: 6.277587890625px;
    border-width: 0px;
    fill: ;
}

#id_fivefivenigth_twoozerothreesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 8px;
    left: 12.38525390625px;
    top: 22.423583984375px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_fivefivenigth_twoozerothreeseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 21px;
    height: 11px;
    left: 11.9453125px;
    top: 18.5px;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_fivefivenigth_twoozerothreeeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 21px;
    height: 12px;
    left: 11.939453125px;
    top: 6.288818359375px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fivefivenigth_twoozerothreenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 55px;
    height: 5px;
    left: 41.63330078125px;
    top: 6.01123046875px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
}
            
            












        