#id_fourthreeeight_oneeightfourfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-width: 1px;
}

#id_fourthreeeight_oneeightfourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    left: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}
            
            

        