.C_twoofivethree_onetwootwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 409px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 0px 0px 8px 8px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_onesixseven_nigthzeronigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-right: 8px;
    padding-top: 40px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_onesixseven_nigthonezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 687px;
    align-self: stretch;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_onesixseven_nigthoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthonetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_onesixseven_nigthonetwoo #id_one_nigthzeroone, #id_onesixseven_nigthonetwoo_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onesixseven_nigthonethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthonefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthonefour #id_one_nigthzerotwoo, #id_onesixseven_nigthonefour_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthonefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthonefive #id_one_nigthzerotwoo, #id_onesixseven_nigthonefive_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthonesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthonesix #id_one_nigthzerotwoo, #id_onesixseven_nigthonesix_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_onesixseven_nigthoneseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthoneeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_onesixseven_nigthoneeight #id_one_nigthzeroone, #id_onesixseven_nigthoneeight_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onesixseven_nigthonenigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoozero #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoozero_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwooone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwooone #id_one_nigthzerotwoo, #id_onesixseven_nigthtwooone_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwootwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwootwoo #id_one_nigthzerotwoo, #id_onesixseven_nigthtwootwoo_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoothree #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoothree_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoofour #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoofour_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoofive #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoofive_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_onesixseven_nigthtwoosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 11px;
    padding-right: 11px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwooseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_onesixseven_nigthtwooseven #id_one_nigthzeroone, #id_onesixseven_nigthtwooseven_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_onesixseven_nigthtwooeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoonigth #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoonigth_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigththreezero #id_one_nigthzerotwoo, #id_onesixseven_nigththreezero_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_onesixseven_nigththreetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 17px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_oneeightnigth.C_onesixseven_nigththreethree #id_onesix_oneeightthree, #id_onesixseven_nigththreethree_onesix_oneeightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_oneeightfive.C_onesixseven_nigththreefour #id_onesix_oneeighttwoo, #id_onesixseven_nigththreefour_onesix_oneeighttwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_onenigththree.C_onesixseven_nigththreefive #id_onesix_oneeightfour, #id_onesixseven_nigththreefive_onesix_oneeightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_onesixseven_nigththreesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: 99px;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 5px;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_onesixseven_nigththreeseven #id_one_nigthzerothree, #id_onesixseven_nigththreeseven_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthonetwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_onesixseven_nigthonetwoo #id_one_nigthzeroone, #id_onesixseven_nigthonetwoo_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthonefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthonefour #id_one_nigthzerotwoo, #id_onesixseven_nigthonefour_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthonefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthonefive #id_one_nigthzerotwoo, #id_onesixseven_nigthonefive_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthonesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthonesix #id_one_nigthzerotwoo, #id_onesixseven_nigthonesix_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthoneeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_onesixseven_nigthoneeight #id_one_nigthzeroone, #id_onesixseven_nigthoneeight_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoozero #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoozero_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwooone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwooone #id_one_nigthzerotwoo, #id_onesixseven_nigthtwooone_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwootwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwootwoo #id_one_nigthzerotwoo, #id_onesixseven_nigthtwootwoo_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoothree #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoothree_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoofour #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoofour_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoofive #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoofive_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwooseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_onesixseven_nigthtwooseven #id_one_nigthzeroone, #id_onesixseven_nigthtwooseven_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigthtwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigthtwoonigth #id_one_nigthzerotwoo, #id_onesixseven_nigthtwoonigth_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_onesixseven_nigththreezero #id_one_nigthzerotwoo, #id_onesixseven_nigththreezero_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_oneeightnigth.C_onesixseven_nigththreethree #id_onesix_oneeightthree, #id_onesixseven_nigththreethree_onesix_oneeightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_oneeightfive.C_onesixseven_nigththreefour #id_onesix_oneeighttwoo, #id_onesixseven_nigththreefour_onesix_oneeighttwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreefive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_onenigththree.C_onesixseven_nigththreefive #id_onesix_oneeightfour, #id_onesixseven_nigththreefive_onesix_oneeightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofivethree_onetwootwoothree .C_onesixseven_nigththreeseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_onesixseven_nigththreeseven #id_one_nigthzerothree, #id_onesixseven_nigththreeseven_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}
        
            














































        