.C_twoofiveeight_onesixfourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_twoofiveeight_onesixfourone {
    box-sizing: border-box;
    display: flex;
    width: 72px;
    height: 30px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofiveeight_onesixfourtwoo {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            


        