#id_fourthreeeight_oneeightfoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-width: 1px;
}

#id_fourthreeeight_oneeightfourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 15px;
    left: -2.7755575615628914e-16px;
    top: 1px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}
            
            

        