#id_onesix_onenigthfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 80px;
    height: 140px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_onesix_onenigththree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    border-width: 1px;
}

#id_onesix_oneeightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

.C_onesix_onenigthfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    border-width: 1px;
}

#id_onesix_onenigthsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            
        