.C_threethreefive_oneonesixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 38px;
    padding-left: 32px;
    align-items: flex-start;
    align-content: flex-start;
    width: 1164px;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
    row-gap: 30px;
}

#id_twoofivethree_onetwooseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 30px;
}

#id_twoofivethree_onetwooseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoosevenfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofivethree_onetwoosevenfour #id_one_nigthzeroone, #id_twoofivethree_onetwoosevenfour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofivethree_onetwoosevenfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoosevensix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwoosevensix #id_one_nigthzerotwoo, #id_twoofivethree_onetwoosevensix_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoosevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwoosevenseven #id_one_nigthzerotwoo, #id_twoofivethree_onetwoosevenseven_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooseveneight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooseveneight #id_one_nigthzerotwoo, #id_twoofivethree_onetwooseveneight_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwoosevennigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofivethree_onetwooeightzero #id_one_nigthzeroone, #id_twoofivethree_onetwooeightzero_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofivethree_onetwooeightone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeighttwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeighttwoo #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeighttwoo_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightthree #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightthree_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightfour #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightfour_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightfive #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightfive_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightsix #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightsix_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightseven #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightseven_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwooeighteight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofivethree_onetwooeightnigth #id_one_nigthzeroone, #id_twoofivethree_onetwooeightnigth_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_twoofivethree_onetwoonigthzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 8px;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwoonigthone #id_one_nigthzerotwoo, #id_twoofivethree_onetwoonigthone_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwoonigthtwoo #id_one_nigthzerotwoo, #id_twoofivethree_onetwoonigthtwoo_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_twoofivethree_onetwoonigththree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 306px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 39px;
}

#id_twoofivethree_onetwoonigthfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 17px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_oneeightnigth.C_twoofivethree_onetwoonigthfive #id_onesix_oneeightthree, #id_twoofivethree_onetwoonigthfive_onesix_oneeightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_oneeightfive.C_twoofivethree_onetwoonigthsix #id_onesix_oneeighttwoo, #id_twoofivethree_onetwoonigthsix_onesix_oneeighttwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_onenigththree.C_twoofivethree_onetwoonigthseven #id_onesix_oneeightfour, #id_twoofivethree_onetwoonigthseven_onesix_oneeightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoofivethree_onetwoonigtheight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 35px;
}

#id_twoofivethree_onetwoonigthnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 272px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 13px;
}

#id_twoofivethree_onethreezerozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezeroone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezeroone #id_one_eightnigthsix, #id_twoofivethree_onethreezeroone_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezerotwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezerotwoo #id_one_eightnigthsix, #id_twoofivethree_onethreezerotwoo_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezerothree #id_one_eightnigthsix, #id_twoofivethree_onethreezerothree_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 12.649999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_twoofivethree_onethreezerofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 26px;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 106px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezerofive #id_one_eightnigthsix, #id_twoofivethree_onethreezerofive_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 12.649999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezerosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezerosix #id_one_eightnigthsix, #id_twoofivethree_onethreezerosix_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezeroseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 16px;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezeroseven #id_one_eightnigthsix, #id_twoofivethree_onethreezeroseven_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezeroeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezeroeight #id_one_eightnigthsix, #id_twoofivethree_onethreezeroeight_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezeronigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_twoofivethree_onethreezeronigth #id_one_nigthzerothree, #id_twoofivethree_onethreezeronigth_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 12px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreefiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 30px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_one_eightfivenigth.C_twoofivethree_onethreefiveseven #id_one_eightsixzero, #id_twoofivethree_onethreefiveseven_one_eightsixzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_one_eightfivenigth.C_twoofivethree_onethreefiveseven #id_one_eightsixone, #id_twoofivethree_onethreefiveseven_one_eightsixone {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 15px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_one_eightfivenigth.C_twoofivethree_onethreefiveseven #id_one_eightsixtwoo, #id_twoofivethree_onethreefiveseven_one_eightsixtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(247, 251, 249, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoosevenfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofivethree_onetwoosevenfour #id_one_nigthzeroone, #id_twoofivethree_onetwoosevenfour_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoosevensix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwoosevensix #id_one_nigthzerotwoo, #id_twoofivethree_onetwoosevensix_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoosevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwoosevenseven #id_one_nigthzerotwoo, #id_twoofivethree_onetwoosevenseven_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooseveneight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooseveneight #id_one_nigthzerotwoo, #id_twoofivethree_onetwooseveneight_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofivethree_onetwooeightzero #id_one_nigthzeroone, #id_twoofivethree_onetwooeightzero_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeighttwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeighttwoo #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeighttwoo_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightthree #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightthree_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightfour #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightfour_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightfive #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightfive_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightsix #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightsix_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwooeightseven #id_one_nigthzerotwoo, #id_twoofivethree_onetwooeightseven_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwooeightnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivezero.C_twoofivethree_onetwooeightnigth #id_one_nigthzeroone, #id_twoofivethree_onetwooeightnigth_one_nigthzeroone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwoonigthone #id_one_nigthzerotwoo, #id_twoofivethree_onetwoonigthone_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfiveone.C_twoofivethree_onetwoonigthtwoo #id_one_nigthzerotwoo, #id_twoofivethree_onetwoonigthtwoo_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_oneeightnigth.C_twoofivethree_onetwoonigthfive #id_onesix_oneeightthree, #id_twoofivethree_onetwoonigthfive_onesix_oneeightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_oneeightfive.C_twoofivethree_onetwoonigthsix #id_onesix_oneeighttwoo, #id_twoofivethree_onetwoonigthsix_onesix_oneeighttwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onetwoonigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    top: initial;
}

#id_onesix_onenigththree.C_twoofivethree_onetwoonigthseven #id_onesix_oneeightfour, #id_twoofivethree_onetwoonigthseven_onesix_oneeightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreefiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: 30px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_one_eightfivenigth.C_twoofivethree_onethreefiveseven #id_one_eightsixzero, #id_twoofivethree_onethreefiveseven_one_eightsixzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_one_eightfivenigth.C_twoofivethree_onethreefiveseven #id_one_eightsixone, #id_twoofivethree_onethreefiveseven_one_eightsixone {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 15px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_one_eightfivenigth.C_twoofivethree_onethreefiveseven #id_one_eightsixtwoo, #id_twoofivethree_onethreefiveseven_one_eightsixtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(247, 251, 249, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezeroeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezeroeight #id_one_eightnigthsix, #id_twoofivethree_onethreezeroeight_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezeronigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivetwoo.C_twoofivethree_onethreezeronigth #id_one_nigthzerothree, #id_twoofivethree_onethreezeronigth_one_nigthzerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 12px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezeroone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezeroone #id_one_eightnigthsix, #id_twoofivethree_onethreezeroone_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezerotwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezerotwoo #id_one_eightnigthsix, #id_twoofivethree_onethreezerotwoo_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezerothree #id_one_eightnigthsix, #id_twoofivethree_onethreezerothree_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 12.649999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 106px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezerofive #id_one_eightnigthsix, #id_twoofivethree_onethreezerofive_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 12.649999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezerosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezerosix #id_one_eightnigthsix, #id_twoofivethree_onethreezerosix_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}

#id_threethreefive_oneonesixnigth .C_twoofivethree_onethreezeroseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 16px;
}

#id_three_oneeightfivethree.C_twoofivethree_onethreezeroseven #id_one_eightnigthsix, #id_twoofivethree_onethreezeroseven_one_eightnigthsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 17.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(179, 179, 179, 1);
}
        
            



































































        