#id_fourthreeeight_threeeightoneseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 192px;
    height: 140px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_fourthreeeight_threeeightonefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    align-items: center;
    align-content: center;
    width: 152px;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_fourthreeeight_threeeightoneone {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

.C_fourthreeeight_threeeightoneeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    align-items: center;
    align-content: center;
    width: 152px;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 2px;
    background: rgba(62, 62, 62, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreeeight_threeeightonenigth {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
            
            
        