#id_fivefivenigth_twoozerofourfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    border-width: 1px;
    column-gap: 14px;
}

#id_fivefivenigth_twoozerofourtwoo {
    box-sizing: border-box;
    display: flex;
    width: 120px;
    height: 40px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fivefivenigth_twoozerofourthree {
    box-sizing: border-box;
    display: flex;
    width: 133px;
    height: 40px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fivefivenigth_twoozerofourfour {
    box-sizing: border-box;
    display: flex;
    width: 111px;
    height: 40px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            



        