#id_onesixnigth_nigtheightone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 66px;
    height: 115px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_onesixnigth_nigtheightzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    border-width: 1px;
}

#id_onesixnigth_nigthseveneight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

.C_onesixnigth_nigtheighttwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    border-width: 1px;
}

#id_onesixnigth_nigtheightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            
        