#id_fourthreefour_oneeightseveneight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 32px;
    align-items: center;
    align-content: center;
    width: 1160px;
    height: auto;
    border-width: 1px;
    border-radius: 8px;
    background: linear-gradient(-180.00deg, rgba(26, 26, 26, 1) 50.56%, rgba(0, 0, 0, 1) 91.67%);
    background-position: center;
    background-size: cover;
    row-gap: 32px;
}

#id_fourthreefour_twoozerothreethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 32px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 32px;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(0, 0, 0, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_twoozerothreefour {
    box-sizing: border-box;
    display: flex;
    width: 117px;
    height: 36px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreefour_twoofivesevenone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 1);
    background-position: center;
    background-size: cover;
    row-gap: 40px;
}

#id_fourthreefour_twoofivesixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 40px;
}

#id_fourthreefour_twoofivesixeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 40px;
}

#id_fourthreefour_twoozerothreesix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 654px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_fourthreefour_oneeightseveneight .C_sixtwoosix_onesevenzerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesixsixsix.C_sixtwoosix_onesevenzerofive #id_sixtwoosix_onesixsixfive, #id_sixtwoosix_onesevenzerofive_sixtwoosix_onesixsixfive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 45px;
    line-height: 56.92499923706055px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_twoozerofourone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 24px;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 30px;
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twootwoosixsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 394px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixsix #id_fourthreefour_twootwootwoozero, #id_fourthreefour_twootwoosixsix_fourthreefour_twootwootwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixsix #id_fourthreefour_twootwoofoureight, #id_fourthreefour_twootwoosixsix_fourthreefour_twootwoofoureight {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixsix #id_fourthreefour_twootwootwoosix, #id_fourthreefour_twootwoosixsix_fourthreefour_twootwootwoosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twootwoofivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 394px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivezero #id_fourthreefour_twootwootwoozero, #id_fourthreefour_twootwoofivezero_fourthreefour_twootwootwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivezero #id_fourthreefour_twootwoofoureight, #id_fourthreefour_twootwoofivezero_fourthreefour_twootwoofoureight {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivezero #id_fourthreefour_twootwootwoosix, #id_fourthreefour_twootwoofivezero_fourthreefour_twootwootwoosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twootwoofivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 394px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivefour #id_fourthreefour_twootwootwoozero, #id_fourthreefour_twootwoofivefour_fourthreefour_twootwootwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivefour #id_fourthreefour_twootwoofoureight, #id_fourthreefour_twootwoofivefour_fourthreefour_twootwoofoureight {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivefour #id_fourthreefour_twootwootwoosix, #id_fourthreefour_twootwoofivefour_fourthreefour_twootwootwoosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twootwoosixtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 394px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixtwoo #id_fourthreefour_twootwootwoozero, #id_fourthreefour_twootwoosixtwoo_fourthreefour_twootwootwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixtwoo #id_fourthreefour_twootwoofoureight, #id_fourthreefour_twootwoosixtwoo_fourthreefour_twootwoofoureight {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
    display: none;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixtwoo #id_fourthreefour_twootwootwoosix, #id_fourthreefour_twootwoosixtwoo_fourthreefour_twootwootwoosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_twootwooeightzero {
    box-sizing: border-box;
    display: flex;
    width: 534px;
    height: 1px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(41, 41, 41, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
}

#id_fourthreefour_twoofivethreezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_fourthreefour_twoofivetwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 16px;
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoothreefivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 450px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 7px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourzero, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourone, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourtwoo, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(229, 229, 229, 1);
    border-radius: 4px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourthree, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourfour, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourfour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 18.19999885559082px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefoursix, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefournigth_fourthreefour_twoothreefoursix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
    display: none;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefourseven, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefournigth_fourthreefour_twoothreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
    display: none;
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoothreesixtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 450px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 7px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourzero, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourone, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourtwoo, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(229, 229, 229, 1);
    border-radius: 4px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourthree, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourfour, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourfour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 18.19999885559082px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefoursix, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefournigth_fourthreefour_twoothreefoursix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefourseven, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefournigth_fourthreefour_twoothreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoofivetwoosix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 12px;
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoofivetwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-top: 2px;
    align-items: center;
    align-content: center;
    width: 30px;
    height: 16px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_fourthreefour_twoofiveonenigth.C_fourthreefour_twoofivetwoothree #id_fourthreefour_twoofiveonethree, #id_fourthreefour_twoofivetwoothree_fourthreefour_twoofiveonethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
    align-content: center;
    width: 12px;
    height: 12px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 20px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_twoofivetwoofive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_twoofivesixfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 40px;
}

#id_fourthreefour_twoofivesixfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 40px;
}

#id_fourthreefour_twoofivesixthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 25px;
}

#id_fourthreefour_oneeightseveneight .C_fourthreeeight_onethreeonezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 21px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 21px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_oneonesixthree.C_fourthreeeight_onethreeonezero #id_fourthreefour_oneonesixtwoo, #id_fourthreeeight_onethreeonezero_fourthreefour_oneonesixtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoofivefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twoofivefourfive.C_fourthreefour_twoofivefoursix #id_fourthreefour_twoofivethreesix, #id_fourthreefour_twoofivefoursix_fourthreefour_twoofivethreesix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_twoofivefourtwoo {
    box-sizing: border-box;
    display: flex;
    width: 534px;
    height: 1px;
    left: initial;
    top: initial;
    border-width: 1px;
    background: rgba(41, 41, 41, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
}

#id_fourthreefour_twoofivesixtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 5px;
}

#id_fourthreefour_twoofivefivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoofivefivefour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoofivefoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twoofivefourfive.C_fourthreefour_twoofivefoureight #id_fourthreefour_twoofivethreesix, #id_fourthreefour_twoofivefoureight_fourthreefour_twoofivethreesix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_sixtwoosix_onesevenzerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesixsixsix.C_sixtwoosix_onesevenzerofive #id_sixtwoosix_onesixsixfive, #id_sixtwoosix_onesevenzerofive_sixtwoosix_onesixsixfive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 45px;
    line-height: 56.92499923706055px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twootwoosixsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 394px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixsix #id_fourthreefour_twootwootwoozero, #id_fourthreefour_twootwoosixsix_fourthreefour_twootwootwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixsix #id_fourthreefour_twootwoofoureight, #id_fourthreefour_twootwoosixsix_fourthreefour_twootwoofoureight {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixsix #id_fourthreefour_twootwootwoosix, #id_fourthreefour_twootwoosixsix_fourthreefour_twootwootwoosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twootwoofivezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 394px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivezero #id_fourthreefour_twootwootwoozero, #id_fourthreefour_twootwoofivezero_fourthreefour_twootwootwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivezero #id_fourthreefour_twootwoofoureight, #id_fourthreefour_twootwoofivezero_fourthreefour_twootwoofoureight {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivezero #id_fourthreefour_twootwootwoosix, #id_fourthreefour_twootwoofivezero_fourthreefour_twootwootwoosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twootwoofivefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 394px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivefour #id_fourthreefour_twootwootwoozero, #id_fourthreefour_twootwoofivefour_fourthreefour_twootwootwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivefour #id_fourthreefour_twootwoofoureight, #id_fourthreefour_twootwoofivefour_fourthreefour_twootwoofoureight {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoofivefour #id_fourthreefour_twootwootwoosix, #id_fourthreefour_twootwoofivefour_fourthreefour_twootwootwoosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twootwoosixtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 394px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixtwoo #id_fourthreefour_twootwootwoozero, #id_fourthreefour_twootwoosixtwoo_fourthreefour_twootwootwoozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 16px;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixtwoo #id_fourthreefour_twootwoofoureight, #id_fourthreefour_twootwoosixtwoo_fourthreefour_twootwoofoureight {
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: unset;
    object-position: initial;
    display: none;
}

#id_fourthreefour_twootwoofournigth.C_fourthreefour_twootwoosixtwoo #id_fourthreefour_twootwootwoosix, #id_fourthreefour_twootwoosixtwoo_fourthreefour_twootwootwoosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoothreefivethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 450px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 7px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourzero, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourone, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourtwoo, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(229, 229, 229, 1);
    border-radius: 4px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourthree, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefourfour, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefourfour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 18.19999885559082px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefoursix, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefournigth_fourthreefour_twoothreefoursix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
    display: none;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefourseven, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefournigth_fourthreefour_twoothreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
    display: none;
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoothreesixtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 450px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 7px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourzero, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourone, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourtwoo, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(229, 229, 229, 1);
    border-radius: 4px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourthree, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefourfour, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefourfour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 18.19999885559082px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefoursix, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefournigth_fourthreefour_twoothreefoursix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefourseven, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefournigth_fourthreefour_twoothreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefoursix, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefournigth_fourthreefour_twoothreefoursix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
    display: none;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreefivethree #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefourseven, #id_fourthreefour_twoothreefivethree_fourthreefour_twoothreefournigth_fourthreefour_twoothreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
    display: none;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefournigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefoursix, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefournigth_fourthreefour_twoothreefoursix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_twoothreefivezero.C_fourthreefour_twoothreesixtwoo #id_fourthreefour_twoothreefoureight.C_fourthreefour_twoothreefournigth #id_fourthreefour_twoothreefourseven, #id_fourthreefour_twoothreesixtwoo_fourthreefour_twoothreefournigth_fourthreefour_twoothreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoofivetwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-top: 2px;
    align-items: center;
    align-content: center;
    width: 30px;
    height: 16px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_fourthreefour_twoofiveonenigth.C_fourthreefour_twoofivetwoothree #id_fourthreefour_twoofiveonethree, #id_fourthreefour_twoofivetwoothree_fourthreefour_twoofiveonethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
    align-content: center;
    width: 12px;
    height: 12px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 20px;
    background: rgba(18, 18, 18, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_oneeightseveneight .C_fourthreeeight_onethreeonezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 21px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 21px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_oneonesixthree.C_fourthreeeight_onethreeonezero #id_fourthreefour_oneonesixtwoo, #id_fourthreeeight_onethreeonezero_fourthreefour_oneonesixtwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 18px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoofivefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twoofivefourfive.C_fourthreefour_twoofivefoursix #id_fourthreefour_twoofivethreesix, #id_fourthreefour_twoofivefoursix_fourthreefour_twoofivethreesix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_fourthreefour_oneeightseveneight .C_fourthreefour_twoofivefoureight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_fourthreefour_twoofivefourfive.C_fourthreefour_twoofivefoureight #id_fourthreefour_twoofivethreesix, #id_fourthreefour_twoofivefoureight_fourthreefour_twoofivethreesix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
        
            































































        