#id_sixzerothree_onefivethreefour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1680px;
    height: 2204px;
    overflow: hidden;
    border-width: 1px;
    background: rgba(8, 8, 11, 1);
    background-position: center;
    background-size: cover;
}

#id_sixzerothree_onefivethreefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 301px;
    height: 58px;
    left: 104px;
    top: 61px;
    border-width: 1px;
}

#id_sixzerothree_onefivethreesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 274px;
    height: 58px;
    left: 27px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: uppercase;
    color: rgba(105, 121, 248, 1);
}

#id_sixzerothree_onefivethreeeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 52px;
    left: initial;
    background: rgba(105, 121, 248, 1);
    background-position: center;
    background-size: cover;
    object-fit: undefined;
    object-position: initial;
}

#id_sixtwoozero_onesixsixzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 72px;
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 72px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: 104px;
    top: 185px;
    border-width: 1px;
    border-radius: 24px;
    background: rgba(36, 36, 36, 1);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.07999999821186066);
    row-gap: 10px;
}

#id_sixtwoozero_onesixsixone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1044px;
    height: 340px;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixtwoozero_onesixsixtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    border-width: 1px;
    column-gap: 93px;
}

#id_sixtwoozero_onesixsixthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 539px;
    height: 326px;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixtwoozero_onesixsixfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    border-width: 1px;
    row-gap: 24px;
}

#id_sixtwoozero_onesixsixfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 32px;
}

#id_sixtwoozero_onesixsixsix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixsixseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 16px;
}

#id_sixtwoozero_onesixsixeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    column-gap: 40px;
}

#id_sixtwoozero_onesixsixnigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 24px;
    line-height: 26px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixsevennigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixeightzero {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixeightone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixseventwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 18px;
    line-height: 30px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixseventhree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 203px;
    height: 72px;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_sixtwoozero_onesixsevenfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 203px;
    height: 72px;
    left: initial;
    border-width: 1px;
    border-radius: 96px;
    background: rgba(29, 185, 84, 1);
    background-position: center;
    background-size: cover;
}

#id_sixtwoozero_onesixsevenfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 18px;
    height: 18px;
    overflow: hidden;
    left: 38px;
    top: 27px;
    border-width: 1px;
    display: none;
}

#id_sixtwoozero_onesixsevenfive_eightonetwoo_seventhreefourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    left: 2.0000457763671875px;
    top: 1.6395263671875px;
    border-width: 1.3333333730697632px;
}

#id_sixtwoozero_onesixsevenfive_eightonetwoo_seventhreefoursix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 17px;
    left: initial;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixsevenfive_eightonetwoo_seventhreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 4px;
    left: 15.166529655456543px;
    top: 15.166658401489258px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixsevensix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 203px;
    height: 72px;
    left: initial;
    top: -0.3604736328125px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_sixtwoozero_onesixsevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    overflow: hidden;
    left: 132px;
    top: 28px;
    border-width: 1px;
    display: none;
}

#id_sixtwoozero_onesixsevenseven_eightonetwoo_seventhreefourfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 18px;
    height: 16.921722412109375px;
    left: 3px;
    top: 3.5391321182250977px;
    border-width: 1px;
}

#id_sixtwoozero_onesixsevenseven_eightonetwoo_seventhreefourtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 8px;
    height: 16px;
    left: 9.539132118225098px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixsevenseven_eightonetwoo_seventhreefourthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 0px;
    left: initial;
    top: 8.460867881774902px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixseveneight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 328px;
    line-height: 340px;
    flex-direction: column;
    text-align: right;
    justify-content: flex-start;
    text-transform: none;
    border-width: 3.6498007774353027px;
    color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixsevenfive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 18px;
    height: 18px;
    overflow: hidden;
    left: 38px;
    top: 27px;
    border-width: 1px;
    display: none;
}

#id_sixtwoozero_onesixsevenfive_eightonetwoo_seventhreefourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    left: 2.0000457763671875px;
    top: 1.6395263671875px;
    border-width: 1.3333333730697632px;
}

#id_sixtwoozero_onesixsevenfive_eightonetwoo_seventhreefoursix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 17px;
    left: initial;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixsevenfive_eightonetwoo_seventhreefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 4px;
    left: 15.166529655456543px;
    top: 15.166658401489258px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixsevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    overflow: hidden;
    left: 132px;
    top: 28px;
    border-width: 1px;
    display: none;
}

#id_sixtwoozero_onesixsevenseven_eightonetwoo_seventhreefourfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 18px;
    height: 16.921722412109375px;
    left: 3px;
    top: 3.5391321182250977px;
    border-width: 1px;
}

#id_sixtwoozero_onesixsevenseven_eightonetwoo_seventhreefourtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 8px;
    height: 16px;
    left: 9.539132118225098px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}

#id_sixtwoozero_onesixsevenseven_eightonetwoo_seventhreefourthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 0px;
    left: initial;
    top: 8.460867881774902px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
}
        
            





























        