#id_one_eightsixseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 204px;
    height: 702px;
    overflow: hidden;
    border-width: 1px;
    background: rgba(31, 31, 31, 1);
    background-position: center;
    background-size: cover;
}

#id_one_eightseventwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 10px;
    top: 10px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightseventhree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 57px;
    top: 10px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightsevenfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 104px;
    top: 10px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightsevenfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 10px;
    top: 57px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightsevensix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 57px;
    top: 57px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightsevenseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 104px;
    top: 57px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightseveneight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 10px;
    top: 104px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightsevennigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    left: 10px;
    top: 151px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eighteightzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    left: 57px;
    top: 151px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eighteighttwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 245px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eighteightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 60px;
    top: 245px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eighteightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 300px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eighteightfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 432px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eighteightsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 65px;
    top: 432px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eighteightseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 487px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eighteighteight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 65px;
    top: 487px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eighteightnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 542px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightnigthzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 65px;
    top: 542px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightnigthone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 60px;
    top: 300px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightnigththree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 57px;
    top: 104px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_one_eightnigthfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 104px;
    top: 104px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_fourthreeeight_threenigthsevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    left: 151px;
    top: 104px;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}

#id_twoozero_twooeightone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
    align-content: center;
    width: 48px;
    height: 48px;
    left: 9px;
    top: 359px;
    border-width: 1px;
    border-radius: 100px;
    background: rgba(30, 215, 96, 1);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_twoozero_twooeighttwoo {
    box-sizing: border-box;
    display: flex;
    width: 15px;
    height: 17px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_twooone_twooeightseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
    align-content: center;
    width: 52px;
    height: 52px;
    left: 69px;
    top: 355px;
    border-width: 1px;
    border-radius: 100px;
    background: rgba(30, 215, 96, 1);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.44999998807907104);
    column-gap: 10px;
}

#id_twooone_twooeighteight {
    box-sizing: border-box;
    display: flex;
    width: 15px;
    height: 17px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
}

#id_fourthreethree_onezerofivesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: 22px;
    top: 593px;
    border-width: 1px;
}

#id_fourthreethree_onezerofivefive {
    box-sizing: border-box;
    display: flex;
    width: 10px;
    height: 19px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fourthreefour_onefourfourone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: 18px;
    top: 657px;
    border-width: 1px;
}

#id_fourthreefour_onefourfourtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 9px;
    height: 9px;
    left: 12px;
    top: 10.18179988861084px;
    border-width: 0px;
    fill: rgba(66, 133, 244, 1);
}

#id_fourthreefour_onefourfourthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 8px;
    left: 3.0636000633239746px;
    top: 13.899900436401367px;
    border-width: 0px;
    fill: rgba(52, 168, 83, 1);
}

#id_fourthreefour_onefourfourfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 4px;
    height: 8px;
    left: 2px;
    top: 7.509160041809082px;
    border-width: 0px;
    fill: rgba(251, 188, 5, 1);
}

#id_fourthreefour_onefourfourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 15px;
    height: 8px;
    left: 3.0636000633239746px;
    top: 2px;
    border-width: 0px;
    fill: rgba(234, 67, 53, 1);
}

#id_fourthreeeight_threenigthsevenone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    left: 120px;
    top: 152px;
    border-width: 1px;
}

#id_fourthreeeight_threenigthseventwoo {
    box-sizing: border-box;
    display: flex;
    width: 20px;
    height: 20px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_threenigthsevenfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: 120px;
    top: 268px;
    border-width: 1px;
}

#id_fourthreeeight_threenigthsevensix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreeeight_sixzerofivethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: 120px;
    top: 300px;
    border-width: 1px;
}

#id_fourthreeeight_sixzerofivefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_fourtwoothreeone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    left: 181px;
    top: 268.0000305175781px;
    border-width: 1px;
    row-gap: 10px;
}

#id_fourthreeeight_fourtwoothreetwoo {
    box-sizing: border-box;
    display: flex;
    width: 12px;
    height: 6px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreeeight_fourtwoothreethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    left: 181px;
    top: 277px;
    border-width: 1px;
    row-gap: 10px;
}

#id_fourthreeeight_fourtwoothreefour {
    box-sizing: border-box;
    display: flex;
    width: 12px;
    height: 6px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreeeight_fourtwoofivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    left: 181px;
    top: 297px;
    border-width: 1px;
    row-gap: 10px;
}

#id_fourthreeeight_fourtwoofiveone {
    box-sizing: border-box;
    display: flex;
    width: 12px;
    height: 6px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_fiveonetwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    left: 184px;
    top: 324px;
    border-width: 1px;
}

#id_fourthreeeight_fiveonetwoothree {
    box-sizing: border-box;
    display: flex;
    width: 12px;
    height: 6px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_sixonefiveone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: 168px;
    top: 353px;
    border-width: 1px;
}

#id_fourthreeeight_sixonefivetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 22px;
    height: 20px;
    left: 1px;
    top: 2px;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}

#id_fourthreeeight_sixfivenigthone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 22px;
    height: 16px;
    left: 132px;
    top: 189px;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}

#id_fourthreeeight_sixfivenigthtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5px;
    padding-left: 1.5px;
    padding-right: 1.5px;
    padding-top: 1.5px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: 160px;
    top: 184px;
    border-width: 1px;
}

#id_fourthreeeight_sixfivenigththree {
    box-sizing: border-box;
    display: flex;
    width: 18px;
    height: 18px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(255, 255, 255, 1);
}
            
            




















































        