body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  position: relative;
}

.cursor {
  cursor: pointer;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.switch-wrapper > div > div,  .switch-wrapper > div > div > div{
  width: 100%;
  height: 100%;
}

*.responsive-layout {
  width: 100% !important;
}

*{
  border: 0px;
  outline: none;
  padding: 0px;
}

.frame, .group, .instance, .rectangle{
  display: inline;
}
.content-overlay-wrapper{
  position: absolute;
}
.smart_animate{
  transition: all 200ms;
}
.opacity{
  opacity: 0;
}
.opacityActive{
  opacity: 1;
  transition: opacity 200ms;
}

@media only screen 
and (max-width: 320px) {
  *.hide-xs {
    display: none !important;
  }
  *.show-xs {
    display: flex !important;
  }
}

@media only screen 
and (min-width: 320px) 
and (max-width: 480px) {
  *.hide-xs {
    display: none !important;
  }
  *.show-xs {
    display: flex !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen 
and (min-width: 480px)
and (max-width: 767px) {
  *.hide-s {
    display: none !important;
  }
  *.show-s {
    display: flex !important;
  }
}

/* Small Devices, Tablets */
@media only screen 
and (min-width: 767px) 
and (max-width: 991px){
  *.hide-m {
    display: none !important;
  }
  *.show-m {
    display: flex !important;
  }
}

/* Medium Devices, Desktops */
@media only screen 
and (min-width: 991px)
and (max-width: 1200px)  {
  *.hide-l {
    display: none !important;
  }
  *.show-l {
    display: flex !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  *.hide-xl {
    display: none !important;
  }
  *.show-xl {
    display: flex !important;
  }
}



.transition-container{
  position: absolute;
}
.transition-container > *{
  width: inherit !important;
  height: inherit !important;
}


