.C_threeonefour_onefivenigthnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 65px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 269px;
    height: 748px;
    flex-wrap: nowrap;
    border-width: 1px;
    border-radius: 10px 10px 0px 0px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
    row-gap: 1px;
}

#id_threeonefour_onefiveonezero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 21px;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 11px;
}

#id_threeonefour_onefournigthsix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    border-radius: 4px;
    background: rgba(13, 114, 234, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_onefoureightfive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_onefournigthseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(13, 114, 234, 1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_threeonefour_onefournigtheight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(13, 114, 234, 1);
}

#id_threeonefour_onefivezeroeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 21px;
}

#id_threeonefour_onefivezerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 9px;
}

#id_threeonefour_onefivenigthnigth .C_sixthreetwoo_onesixsixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesevenfivenigth.C_sixthreetwoo_onesixsixnigth #id_sixtwoosix_onesevenfiveeight, #id_sixthreetwoo_onesixsixnigth_sixtwoosix_onesevenfiveeight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivezerofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefivezerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivezerothree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivesevenfour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: 342px;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonetwoo_eighteightseven {
    box-sizing: border-box;
    display: flex;
    width: 237px;
    height: 2px;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    object-fit: unset;
    object-position: initial;
}

#id_threeonefour_onefivethreethree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    align-items: center;
    align-content: center;
    width: 237px;
    height: 322px;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 5px;
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefiveoneseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefiveoneseven #id_threeonefour_onefiveoneone, #id_threeonefour_onefiveoneseven_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefiveoneseven #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefiveoneseven_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefiveoneseven #id_threeonefour_onefiveonethree, #id_threeonefour_onefiveoneseven_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivetwooone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwooone #id_threeonefour_onefiveoneone, #id_threeonefour_onefivetwooone_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwooone #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefivetwooone_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwooone #id_threeonefour_onefiveonethree, #id_threeonefour_onefivetwooone_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivetwoofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoofive #id_threeonefour_onefiveoneone, #id_threeonefour_onefivetwoofive_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoofive #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefivetwoofive_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoofive #id_threeonefour_onefiveonethree, #id_threeonefour_onefivetwoofive_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivetwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoonigth #id_threeonefour_onefiveoneone, #id_threeonefour_onefivetwoonigth_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoonigth #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefivetwoonigth_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoonigth #id_threeonefour_onefiveonethree, #id_threeonefour_onefivetwoonigth_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivefoursix #id_threeonefour_onefiveoneone, #id_threeonefour_onefivefoursix_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivefoursix #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefivefoursix_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivefoursix #id_threeonefour_onefiveonethree, #id_threeonefour_onefivefoursix_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivesixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 237px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 15px;
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivenigthtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 237px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_threeonefour_onefiveeightone.C_threeonefour_onefivenigthtwoo #id_threeonefour_onefiveeightzero, #id_threeonefour_onefivenigthtwoo_threeonefour_onefiveeightzero {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_threeonefour_onefivefiveseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
    row-gap: 5px;
}

#id_threeonefour_onefivefiveeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefivefivenigth {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 16px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(83, 83, 83, 1);
}

#id_threeonefour_onefivesixzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 237px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefivesixone {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 10px;
    line-height: 16px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(83, 83, 83, 1);
}

#id_threeonefour_onefivenigthnigth .C_sixthreetwoo_onesixsixnigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_sixtwoosix_onesevenfivenigth.C_sixthreetwoo_onesixsixnigth #id_sixtwoosix_onesevenfiveeight, #id_sixthreetwoo_onesixsixnigth_sixtwoosix_onesevenfiveeight {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-grow: 1;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 500;
    font-size: 24px;
    line-height: 30.360000610351562px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefiveoneseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefiveoneseven #id_threeonefour_onefiveoneone, #id_threeonefour_onefiveoneseven_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefiveoneseven #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefiveoneseven_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefiveoneseven #id_threeonefour_onefiveonethree, #id_threeonefour_onefiveoneseven_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivetwooone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwooone #id_threeonefour_onefiveoneone, #id_threeonefour_onefivetwooone_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwooone #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefivetwooone_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwooone #id_threeonefour_onefiveonethree, #id_threeonefour_onefivetwooone_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivetwoofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoofive #id_threeonefour_onefiveoneone, #id_threeonefour_onefivetwoofive_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoofive #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefivetwoofive_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoofive #id_threeonefour_onefiveonethree, #id_threeonefour_onefivetwoofive_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivetwoonigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoonigth #id_threeonefour_onefiveoneone, #id_threeonefour_onefivetwoonigth_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoonigth #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefivetwoonigth_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivetwoonigth #id_threeonefour_onefiveonethree, #id_threeonefour_onefivetwoonigth_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 237px;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    column-gap: 10px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivefoursix #id_threeonefour_onefiveoneone, #id_threeonefour_onefivefoursix_threeonefour_onefiveoneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 24px;
    height: 24px;
    overflow: hidden;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivefoursix #id_threeonefour_onefiveonetwoo, #id_threeonefour_onefivefoursix_threeonefour_onefiveonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 17px;
    height: 14px;
    left: 3.319999933242798px;
    top: 5.260000228881836px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(24, 24, 24, 1);
}

#id_threeonefour_onefiveonesix.C_threeonefour_onefivefoursix #id_threeonefour_onefiveonethree, #id_threeonefour_onefivefoursix_threeonefour_onefiveonethree {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_threeonefour_onefivenigthnigth .C_threeonefour_onefivenigthtwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: 237px;
    height: 48px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
}

#id_threeonefour_onefiveeightone.C_threeonefour_onefivenigthtwoo #id_threeonefour_onefiveeightzero, #id_threeonefour_onefivenigthtwoo_threeonefour_onefiveeightzero {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
        
            











































        