#id_twootwoo_onetwoothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 113px;
    height: 112px;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 5px;
}

.C_three_oneeightfiveone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_one_nigthzerotwoo {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(167, 167, 167, 1);
}

.C_twootwoo_onetwoofour {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
}

#id_twootwoo_onetwoofive {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 16px;
    line-height: 25.600000381469727px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}
            
            
        