#id_fivefivenigth_onenigthtwooone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 11px;
    height: 9px;
    overflow: hidden;
    border-width: 1px;
}

#id_fivefivenigth_onenigthtwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 8px;
    height: 6px;
    left: 1.5899165868759155px;
    top: 1.3247746229171753px;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(25, 230, 140, 1);
}
            
            

        