#id_onesixnigth_nigthsevenzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    overflow: hidden;
    border-width: 1px;
    column-gap: 10px;
}

#id_onesixnigth_nigthsevenone {
    box-sizing: border-box;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(167, 167, 167, 1);
}
            
            

        