.C_fourthreeeight_onethreefourone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    border-width: 1px;
}

#id_fourthreeeight_onethreethreenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 16px;
    height: 16px;
    left: initial;
    border-width: 1px;
    object-fit: fill;
    object-position: initial;
}
            
            

        