.C_fourthreefour_onesevenfourzero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 450px;
    height: auto;
    flex-wrap: nowrap;
    border-width: 1px;
    row-gap: 2px;
}

#id_fourthreefour_onesevenfourzero .C_fourthreefour_onefivezeronigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 8px;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerofive, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerosix, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerozero, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(229, 229, 229, 1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerothree, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerofour, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerofour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 18.19999885559082px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(106, 106, 106, 1);
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onesixthreefour.C_fourthreefour_onesixseventwoo, #id_fourthreefour_onefivezeronigth_fourthreefour_onesixseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onesixthreefour.C_fourthreefour_onesixseventwoo #id_fourthreefour_onesixtwoosix, #id_fourthreefour_onefivezeronigth_fourthreefour_onesixseventwoo_fourthreefour_onesixtwoosix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
    display: none;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onesixthreefour.C_fourthreefour_onesixseventwoo #id_fourthreefour_onesixtwooseven, #id_fourthreefour_onefivezeronigth_fourthreefour_onesixseventwoo_fourthreefour_onesixtwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
    display: none;
}

#id_fourthreefour_onefiveoneseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 216px;
    height: auto;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_onefiveoneeight {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 13px;
    line-height: 22.399999618530273px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(17, 122, 55, 1);
}

#id_fourthreefour_onesevenfourzero .C_fourthreefour_onefivezeronigth {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 8px;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerofive, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerosix, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerosix {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.709999084472656px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerozero, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerozero {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    height: auto;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(229, 229, 229, 1);
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-size: cover;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerothree, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerothree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    height: 32px;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    border-width: 1px;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onefivezerofour, #id_fourthreefour_onefivezeronigth_fourthreefour_onefivezerofour {
    box-sizing: border-box;
    display: flex;
    width: auto;
    left: initial;
    top: initial;
    font-family: 'Circular Std';
    font-weight: 450;
    font-size: 14px;
    line-height: 18.19999885559082px;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: none;
    border-width: 1px;
    color: rgba(106, 106, 106, 1);
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onesixthreefour.C_fourthreefour_onesixseventwoo, #id_fourthreefour_onefivezeronigth_fourthreefour_onesixseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onesixthreefour.C_fourthreefour_onesixseventwoo #id_fourthreefour_onesixtwoosix, #id_fourthreefour_onefivezeronigth_fourthreefour_onesixseventwoo_fourthreefour_onesixtwoosix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
    display: none;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onesixthreefour.C_fourthreefour_onesixseventwoo #id_fourthreefour_onesixtwooseven, #id_fourthreefour_onefivezeronigth_fourthreefour_onesixseventwoo_fourthreefour_onesixtwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
    display: none;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onesixthreefour.C_fourthreefour_onesixseventwoo, #id_fourthreefour_onefivezeronigth_fourthreefour_onesixseventwoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1px;
    padding-top: 1px;
    align-items: flex-start;
    align-content: flex-start;
    width: auto;
    height: auto;
    overflow: hidden;
    flex-wrap: nowrap;
    left: initial;
    top: initial;
    row-gap: 10px;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onesixthreefour.C_fourthreefour_onesixseventwoo #id_fourthreefour_onesixtwoosix, #id_fourthreefour_onefivezeronigth_fourthreefour_onesixseventwoo_fourthreefour_onesixtwoosix {
    box-sizing: border-box;
    display: flex;
    width: 23px;
    height: 21px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
    display: none;
}

#id_fourthreefour_onefivezeroeight.C_fourthreefour_onefivezeronigth #id_fourthreefour_onesixthreefour.C_fourthreefour_onesixseventwoo #id_fourthreefour_onesixtwooseven, #id_fourthreefour_onefivezeronigth_fourthreefour_onesixseventwoo_fourthreefour_onesixtwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 5px;
    height: 5px;
    left: initial;
    top: initial;
    border-width: 0px;
    fill: rgba(0, 0, 0, 1);
    display: none;
}
        
            











        